@model Catfish.Areas.Manager.Models.ViewModels.AccessDefinitionsViewModel

@{
    ViewBag.Title = Model.Id != null? "Edit Access Definitions" : "Create Access Definitions";
    string url = "";
}

@section Toolbar {
    @Html.Partial("Partial/EditToolbar", Model, new ViewDataDictionary() { { "id", Model.Id } })
}

<style>
    .accessCB{
        float:left !important;
        width:20px !important;
    }
    .content{
        margin-left:10px;
        margin-top:10px;
    }
</style>
@using (Html.BeginForm("Edit", "AccessDefinitions", FormMethod.Post))
    {
      @Html.HiddenFor(m=>Model.Id)
       <ul class="form bs">
          
    <li style="height:31px;width:800px">
    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name, new {@class="input", @style= "margin-left:70px; width:675px" })

</li>  
               <li style="height:200px;">
    <label>Modes</label>
    <span class="input" style="float:right; width:85%; margin-top:-28px;">
        <ul>
            @foreach (var mode in Model.AccessModes)
            {
                <li style="display:table-row">
                    <div style="display: table-cell; ">
                        @if (mode.Checked)
                        {
                        <input type="checkbox" id="@mode.Value" name="SelectedAccessModes" value="@mode.Value" checked="checked" class="accessCB" />
                        }
                        else
                        {
                        <input type="checkbox" id="@mode.Value" name="SelectedAccessModes" value="@mode.Value" class="accessCB"  />
                        }
                        <label style="float:left">@mode.Text</label>

                        
                    </div>
                </li>
            }
        </ul>
    </span>
   </li>
        
</ul>
}