@model IQueryable<Catfish.Core.Models.Access.CFAccessDefinition>
@using Catfish.Core.Models.Access;

@section Toolbar {
    @Html.Partial("Partial/IndexToolbar")
}
<style>
    .content {
        margin-left: 10px;
      
    }
</style>
<table class="list bs">
    <thead>
        <tr>
            <th>Name</th>
            <th>Modes</th>
            <th>Updated</th>
            <th>Created</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var m in Model)
        {
            string modes = "";
            foreach (AccessMode a in m.AccessModesList)
            {
                if (!a.ToString().Equals("None"))
                {
                    modes += a.ToString() + ", ";
                }

            }
            modes = string.IsNullOrEmpty(modes) ? "None" : modes.Substring(0, modes.Length - 2);
            <tr>
                <td>@m.Name</td>
              

                <td>@modes</td>
                
                <td>@m.Updated.ToShortDateString()</td><td>@m.Created.ToShortDateString()</td>
                <td class="bs">
                    <button class="glyphicon glyphicon-remove" id="btnDel_@m.Id" onclick="DeleteAccessDefinition(@m.Id);">
                     
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function DeleteAccessDefinition(accessId)
    {
        if(confirm("Are you sure you want to delete this?"))
        {
            var url ='@Url.Action("Delete", "AccessDefinitions")';

            $.ajax({
                type: "POST",
                url: url,
                data:{"id":accessId},

                dataType: "json",
                success: function(result){
                   window.location.reload(true);
                },
                error: function(error){alert("Error: Can't delete it.");}
            });
        }
    }

</script>