@model Catfish.Models.MediaPage
@inject Catfish.Helper.ICatfishAppConfiguration _config
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewBag.Title = "Social Media Page Template";
    bool twoColLayout = Model.Styles.IsTwoColumnsLayout == null ? true : Model.Styles.IsTwoColumnsLayout.Value;
    string mainContainCssClass = "";
    string sosmedContainCssClass = "";
    if (twoColLayout)
    {
        mainContainCssClass = "col-sm-8";
        sosmedContainCssClass = "col-sm-4";
    }
    else
    {
        mainContainCssClass = "col-12";
        sosmedContainCssClass = "col-12";
    }

}

<div class="main">
    <div class="container">
        <div class="row justify-content-center">
            <div class="@mainContainCssClass">
                @Html.DisplayFor(m => m.Blocks)
            </div>
            <div class="@sosmedContainCssClass">
                @if (Model.CalendarRegion != null)
                    {
                        if (!string.IsNullOrEmpty(Model.CalendarRegion.ApiKey.Value) && !string.IsNullOrEmpty(Model.CalendarRegion.CalendarId.Value))
                        {
                <partial name="Partial/GoogleCalendarRegion.cshtml" model="@Model.CalendarRegion" />
                        }
                    }
                @if (Model.FacebookTimeline != null)
                    {
                        if (!string.IsNullOrEmpty(Model.FacebookTimeline.FacebookUrl.Value))
                        {
                <partial name="Partial/FacebookTimeline.cshtml" model="@Model.FacebookTimeline" />
                        }
                    }

                @if (Model.TwitterRegion != null)
                    {
                        if (!string.IsNullOrEmpty(Model.TwitterRegion.TwitterUrl.Value))
                        {
                <partial name="Partial/TwitterRegion.cshtml" model="@Model.TwitterRegion" />
                        }
                    }

            </div>
        </div>
    </div>
</div>