@using static CatfishWebExtensions.Constants.Enums
@model CatfishWebExtensions.Models.Blocks.Slide
@{
    var url = Model?.Image?.Media.PublicUrl;
    var content = Model?.Content.Value;
    var title = Model?.Title.Value;
    var link = Model?.Link;
    var usage = Model?.Usage;
    if (url.StartsWith("~"))
    {
        url = url.Substring(1);
    }
    int? index = ViewData["index"] as int?;
    string isActive = index == 0 ? "active" : "";
}
@if(Model.Usage.Value == eUsage.Carousel)
{
    <div class="carousel-item @isActive">
    <div class="row">
        @if(Model.Layout.Value == eSlideLayout.TextBottom)
        {
        <div >
            <div class="std-img" style="background-image: url(@url)"></div>
        </div>
        <div>
            <div class="container slide-title">
                @if(link != null)
            {
                <h5><a href=@link.Value>@title</a></h5> 
            }
            else
            {
                <h5>@title</h5>
            }
            </div>
            <div class="container slide-content">
                @Html.Raw(content)
            </div>
        </div>
        }
        else if(Model.Layout.Value == eSlideLayout.TextTop)
        {
            <div>
                <div class="container slide-title">
                    @if(link != null)
            {
                <h5><a href=@link.Value>@title</a></h5>
            }
            else
            {
                <h5>@title</h5>
            }
                </div>
                <div class="container slide-content">
                    @Html.Raw(content)
                </div>
            </div>
            <div>
                <div class="std-img" style="background-image: url(@url)"></div>
            </div>
        }

    </div>
    </div>
}
else if (Model.Usage.Value == eUsage.Content)
{
    @if(Model.Layout.Value == eSlideLayout.TextBottom)
        {
        <div class="card text-center">
            <div class="std-img" style="background-image: url(@url)"></div>
            <div class="card-body">
            @if(link != null)
            {
                <h5 class="card-title"><a href=@link.Value>@title</a></h5> 
            }
            else
            {
                <h5 class="card-title">@title</h5>
            }
            <p class="card-text">@Html.Raw(content)</p>
            <a href="#" class="btn btn-primary">...</a>
            </div>
        </div>
        }
        else if(Model.Layout.Value == eSlideLayout.TextTop)
        {
            <div class="card text-center">
            
            <div class="card-body">
            @if(link != null)
            {
                <h5 class="card-title"><a href=@link.Value>@title</a></h5> 
            }
            else
            {
                <h5 class="card-title">@title</h5>
            }
            <p class="card-text">@Html.Raw(content)</p>
            <a href="#" class="btn btn-primary">...</a>
            </div>
            <div class="std-img" style="background-image: url(@url)"></div>
        </div>
        }
}
