@model Catfish.Models.ViewModels.FormViewModel
@using Piranha.Models
@using Catfish.Models.Regions;
@using Piranha.Extend.Regions;
@using Catfish.Helpers;

@{
    PageModel pageModel = ViewBag.PageModel as PageModel;
    ViewBag.Title = pageModel.Page.Title;

    try
    {
        TextRegion styles = pageModel.Regions.Styles as TextRegion;
        if (!string.IsNullOrEmpty(styles.Body))
        {
            <style type="text/css" scoped>
                @Html.Raw(styles.Body)
            </style>
        }
    }
    catch (Exception) { }
}

@section Head{
    <script type="text/javascript" src="~/Scripts/attachment.js"></script>

    @*<script type="text/javascript">
        var uploadApiUrl = "@Url.Action("upload", "attachment", new { })";
        var deleteApiUrl = "@Url.Action("deleteFile", "attachment", new { })";
    </script>*@
}


<div class="content">
    <div class="main">
        <h1>
            @try
            {
                MultilingualText title = pageModel.Region<MultilingualText>("PageTitle");
                @Html.DisplayFor(m => title, new { raw = true })
            }
            catch (Exception)
            {
                @pageModel.Page.Title
            }
        </h1>

        @{
            MultilingualText content = pageModel.Region<MultilingualText>("Content");
            @Html.DisplayFor(m => content, new { raw = true })

            FormContainer formContainer = pageModel.Region<FormContainer>("FormContainer");
            <div id="@formContainer.CssId" class="bs @formContainer.CssClasses form">
                <style type="text/css" scoped>
                    @Html.Raw(formContainer.CssStyles)
                </style>
                <form method="post" action="@UI.Permalink()/Edit" >
                    @Html.EditorFor(m => Model)
                    <br />
                    <br />
                    <input class="btn btn-primary" type="submit" value="Submit" />
                </form>
            </div>
        }
    </div>
</div>
