@model Catfish.Core.Models.Item
@using Piranha.Models
@using Catfish.Models.Regions;
@using Piranha.Extend.Regions;
@using Catfish.Helpers;

@{
    PageModel pageModel = ViewBag.PageModel as PageModel;
    ViewBag.Title = pageModel.Page.Title;
}

@{
    try
    {
        TextRegion styles = pageModel.Regions.Styles as TextRegion;
        if (!string.IsNullOrEmpty(styles.Body))
        {
            <style type="text/css" scoped>
                @Html.Raw(styles.Body)
            </style>
        }
    }
    catch (Exception) { }

}

@section Head{
    <script type="text/javascript" src="~/Scripts/fileupload.js"></script>
}


<div class="content">
    <div class="main">
        <h1>
            @try
            {
                MultilingualText title = pageModel.Region<MultilingualText>("PageTitle");
                @Html.DisplayFor(m => title, new { raw = true })
            }
            catch (Exception)
            {
                @pageModel.Page.Title
            }
        </h1>
        @{
            MultilingualText content = pageModel.Region<MultilingualText>("Content");
            @Html.DisplayFor(m => content, new { raw = true })

            Form forRegion = pageModel.Region<Form>("Form");
            <form method="post" action="@UI.Permalink()/Edit">
                @Html.EditorFor(m => m, "Form", new { FormRegion = forRegion })
                <input type="submit" value="Submit" />
            </form>

        }
</div>
</div>
