@model Piranha.Models.PageModel
@{
    ViewBag.Title = Model.Page.Title;
}

@{    
    Piranha.Extend.Regions.TextRegion styles = Model.Regions.Styles as Piranha.Extend.Regions.TextRegion;
    if (!string.IsNullOrEmpty(styles.Body))
    {
        <style>
            @Html.Raw(styles.Body)
        </style>
    }
    
    Catfish.Models.Widgets.Carousel carousel = Model.Regions.Carousel as Catfish.Models.Widgets.Carousel;
    if (carousel.Slides.Count > 0)
    {
        @Html.DisplayFor(m => carousel)
    }
}

<div class="content">
    <div class="wrapper">
        <div id="topContentWrapper">
            @Model.Regions.TopContent
        </div>
        <div id="flexPanelWrapper">
            @{var flexbox = Model.Regions.FlexPanel as Catfish.Models.Widgets.FlexBox;}
            @Html.DisplayFor(m => flexbox)
        </div>
        <div id="bottomContentWrapper">
            @Model.Regions.BottomContent
        </div>
    </div>
</div>

