@model Catfish.Areas.Manager.Models.ViewModels.CFUserListViewModel
@using PerpetuumSoft.Knockout
@{ 
    ViewBag.Title = String.IsNullOrEmpty(Model.CFUserListName) ? "Create User List" : "Edit User List";
    var context = "ctx_" + Guid.NewGuid().ToString("N");
    var ko = Html.CreateKnockoutContext(context);
    if (!string.IsNullOrEmpty(Model.SuccessMessage))
    {
        ViewBag.Message = Model.SuccessMessage;
    }
}

@section HEAD
{
   <script src="~/Scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/knockout-3.1.0.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout.mapping-latest.js"></script>
    <script type="text/javascript" src="~/Scripts/perpetuum.knockout.js"></script>   
    <link type="text/css" rel="stylesheet" href="~/content/jquery-ui.min.css" />
}

@*@if (!string.IsNullOrWhiteSpace(ViewBag.Message))
{
    <div class="row">
        <div class="col-sm-12">
            <div class="@ViewBag.MessageCss">
                @Html.Raw(ViewBag.Message)
            </div>
        </div>
    </div>
}*@


<div id="@context">

    @using (ko.Html.Form("Edit", "UserLists", null, new { id = context + "Form" }))
    {
        var pointer = string.IsNullOrEmpty(Model.ErrorMessage) ? "" : "pointer-events: none;";
        @Html.AntiForgeryToken()
        @ko.Html.Hidden(Model.Id)
      
            <div class="bs row">
                <div class="col-12">
                        @ko.Html.Span(m => m.SuccessMessage, new {@class="alert alert-success" }).Visible(m => m.SuccessMessage.Length > 0)       
                </div>
            </div>
       
      <ul >
        <li class="form form-custom">
            <label class="control-label col-md-2">User List</label>
            <div class="inner">
                <div class="input" style="width:500px !important">

                    @ko.Html.TextBox(m => m.CFUserListName, new { @required = "required", @style = "width:413px !important;", @id = "txtGrpName" })
                    @* XXX m.ErrorMessage is null *@
                    @*@ko.Html.Span(m => m.ErrorMessage, new { @style = "float: right;color:red;" }).Visible(m => m.ErrorMessage.Length > 0)*@

                </div>
            </div>
        </li>

        <li class="form form-custom" >
            <label class="control-label col-md-2">Login Name: </label>
            <div class="inner">
                <div  class="input" style="width:500px !important">
                 @ko.Html.TextBox(m => m.userName, new { @id = "usrName",@placeholder="login name", @style= "width:413px !important;" }).ValueUpdate(KnockoutValueUpdateKind.AfterKeyDown)
                 @ko.Html.Button("Add User", "AddUser", "UserLists", null, new { @class = "btn", @id = "addUser" })@*.Enable(m => m.userName.Length > 0)*@
                </div>
            </div>
        </li>
          <li @*ko.Bind.Visible(m => m.SelectedUsers.Count > 0)*@ class="form form-custom">
              <label class="control-label col-md-2">Selected Users: </label>
              <div class="inner">
                  <div class="input" style="width:500px !important">
                     @*@ko.Html.ListBox(m => m.SelectedUsers, new { width = 100, size = 10, @style = "width:413px !important;" }, m => m.Login).SelectedOptions(m => m.UsersToRemove)*@
                      @ko.Html.ListBox(m => m.SelectedUsers, new { width = 100, size = 10, @style = "width:413px !important;" }).SelectedOptions(m => m.UsersToRemove)
                      @ko.Html.Button("Remove", "RemoveSelected", "UserLists", null, new { @class = "btn btn-info" }) @*.Enable(m => m.UsersToRemove.Count > 0)*@

                  </div>
              </div>
          </li>
       
        <li class="form form-custom">
            @ko.Html.Button("Save", "Edit", "UserLists", null, new { @class = "btn btn-info", @style = "float:right", @id="btnSave" })@*.Enable(m => m.EntityGroupName.Length > 0)*@
        </li>
     </ul>

    }
</div>

@ko.Apply(Model, context)

<script>

    $(function(){
       var allAvailableUsers =@Html.Raw(Json.Encode(ViewBag.SugestedNames));

       $("#usrName").autocomplete({
          source: allAvailableUsers
         });
       $("#txtGrpName").focus();

        @(context).CFUserListName.subscribe(function(newValue){
            if(newValue != null)
                @(context).ErrorMessage(newValue.length > 0 ? "" : "*");
        });

       @(context).SuccessMessage.subscribe(function(val){
           if(val != null){
                removeAlert();
            }
        });


    });

    function removeAlert(){
         //remove alert-success
      $(".alert-success").fadeTo(2000, 500).slideUp(500, function(){
                   $(".alert-success").slideUp(500);
        });
         @(context).ErrorMessage("");
    }
</script>
<style>
    .alert-success{
        display: block;
        text-align: center;
    }
</style>