@model IEnumerable<Catfish.Areas.Manager.Models.ViewModels.CFUserListIndexViewModel>
@{
    ViewBag.Title = "CFUser Groups";
}
@section Toolbar {
    @Html.Partial("Partial/IndexToolbar")
}
<div class="bs">
    <div class="container">
        <table class="list">
            <thead>
                <tr>
                    <th>User List Name</th>
                    <th>Users</th>
                    <th>Actions</th>
                </tr>
            </thead>
            @{
                foreach (var m in Model)
                {
                <tr >
                    <td>@m.UserListName</td>
                    <td>@String.Join(" | ", @m.UserNames())</td>
                    <td>
                        Details |
                        Details |
                        <span data-toggle="tooltip" title="Edit" data-container="body">
                            @Html.ActionLink(" ", "Edit", "UserLists", new { Id = m.Guid.ToString() }, new { @class = "glyphicon glyphicon-edit" })
                        </span>
                        | Delete
                    </td>
                </tr>
                }

                }
        </table>
    </div>
</div>