@model Catfish.Core.Models.Forms.CompositeFormField
@using Catfish.Core.Models.Forms;

@{ 
    string id = Model.Guid.Replace("-", "");
    string currentPath = ViewData.ContainsKey("ParentPath") ? (string)ViewData["ParentPath"] + "," : "";
    currentPath += "#" + id;

    CompositeFormField.eStepState stepState = Model.StepState;

    bool stepThroughChildren = stepState != CompositeFormField.eStepState.None;

    string newClass = stepThroughChildren ? "stepField" : "";

    if(stepState == CompositeFormField.eStepState.Accumulative)
    {
        newClass += " stepOnce";
    }

}

@Html.Hidden("ModelType", Model.GetType().AssemblyQualifiedName, new Dictionary<string, object>()
{
    {"class", "model-type"}
})
@Html.HiddenFor(m => m.Guid)

<div class="form-field comp-field">
    @for (int i = 0; i < Model.Header.Count; ++i)
    {
        string fieldName = Model.Header[i].GetName();
        string fieldId = Model.Header[i].Guid.Replace("-", "");

        if (stepThroughChildren && !(Model.Header[i] is Catfish.Core.Models.Forms.CompositeFormField))
        {
            ((List<string>)ViewData["QuestionIndex"]).Add(string.Format("{0},#{1}", currentPath, fieldId));
        }

        <div id="@fieldId" class="@newClass form-field">
            @if (!string.IsNullOrEmpty(fieldName))
            {
                <div><label class="control-label">@fieldName</label></div>
            }
            @Html.EditorFor(m => Model.Header[i], new { ParentPath = currentPath, QuestionIndex = ViewData["QuestionIndex"], StepThroughChildren = stepThroughChildren })
        </div>
    }

    @for (int i = 0; i < Model.Fields.Count; ++i)
    {
        string fieldName = Model.Fields[i].GetName();
        string fieldId = Model.Fields[i].Guid.Replace("-", "");

        if (stepThroughChildren && !(Model.Fields[i] is Catfish.Core.Models.Forms.CompositeFormField))
        {
            ((List<string>)ViewData["QuestionIndex"]).Add(string.Format("{0},#{1}", currentPath, fieldId));
        }

        <div id="@fieldId" class="@newClass form-field">
            @if (!string.IsNullOrEmpty(fieldName))
            {
                <div><label class="control-label">@fieldName</label></div>
            }

            @if (typeof(Attachment).IsAssignableFrom(Model.Fields[i].GetType()))
            {
                @Html.EditorFor(m => Model.Fields[i],
                 new
                 {
                     UploadApiUrl = Url.Action("upload", "attachment"),
                     DeleteApiUrl = Url.Action("deleteCashedFile", "attachment"),
                     ParentId = Model.Id,
                     Controller = "items",
                     QuestionIndex = ViewData["QuestionIndex"]
                 })

            }
            else
            {
                @Html.EditorFor(m => Model.Fields[i], new { ParentPath = currentPath, QuestionIndex = ViewData["QuestionIndex"], StepThroughChildren = stepThroughChildren })
                <div class="error form-error" name="@Html.NameFor(m => Model.Fields[i])" style="display:none;"></div>
            }
        </div>
    }

    @for (int i = 0; i < Model.Footer.Count; ++i)
    {
        string fieldName = Model.Footer[i].GetName();
        string fieldId = Model.Footer[i].Guid.Replace("-", "");

        if (stepThroughChildren && !(Model.Footer[i] is Catfish.Core.Models.Forms.CompositeFormField))
        {
            ((List<string>)ViewData["QuestionIndex"]).Add(string.Format("{0},#{1}", currentPath, fieldId));
        }

        <div id="@fieldId" class="@newClass form-field">
            @if (!string.IsNullOrEmpty(fieldName))
            {
                <div><label class="control-label">@fieldName</label></div>
            }
            @Html.EditorFor(m => Model.Footer[i], new { ParentPath = currentPath, QuestionIndex = ViewData["QuestionIndex"], StepThroughChildren = stepThroughChildren })
        </div>
    }

</div>
