@model Catfish.Core.Models.Data.DataFile
@using Catfish.Areas.Manager.Models.ViewModels;

@Html.Hidden("ModelType", Model.GetType().AssemblyQualifiedName, new Dictionary<string, object>()
{
    {"class", "model-type"}
})
@Html.HiddenFor(m => m.Id)
@Html.HiddenFor(m => m.Guid)
@Html.HiddenFor(m => m.GuidName)

@{
    FileViewModel vm = new FileViewModel(Model, Model.Id, Request.RequestContext, "attachment");
    var eleId = @vm.Guid.Substring(0, @vm.Guid.Length - 4);
}

<div class="fileThumbnail" id="@eleId">
    <div class="img" style="background-image:url(@vm.Thumbnail)"></div>
    @*<img src="@vm.Thumbnail" alt="@vm.FileName" />*@
    <button class="glyphicon glyphicon-remove" onclick="del('@vm.Guid');"></button>
    <div class="label"><a href="@vm.Url">@vm.FileName</a></div>
</div>