@{
    var sitemap = WebApp.Site.Sitemap;
}

@*Not the best solution but meanwhile... class = d-sm-block d-md-none is hiding on md screen solution*@
<nav class="navbar navbar-toggleable-sm navbar-dark bg-faded d-sm-block d-md-none">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"></a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            @foreach (var item in sitemap)
            {
                if (!item.IsHidden)
                {

                    @*<a class="nav-item nav-link @(item.Id == WebApp.PageId ? "active" : "")" href="@item.Permalink"><span>@item.MenuTitle</span></a>*@
                    if (item.Items.Count == 0)
                    {
                        @*<li class="nav-item @(item.Id == WebApp.PageId ? "active" : "")">*@
                            <a  href="@item.Permalink">@item.MenuTitle</a>
                        @*</li>*@
                    }
                    else
                    {
                        //showing sub menu
                        <div class=" nav-item @(item.Id == WebApp.PageId ? "active" : "") dropdown">
                            <a href="#" class=" dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> @item.MenuTitle</a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                @foreach (var subItm in item.Items)
                                {
                                    if (!subItm.IsHidden)
                                    {
                                       <a class="dropdown-item" href="@subItm.Permalink">@subItm.MenuTitle</a>
                                    }

                                }

                            </div>
                        </div>

                    }

                }
            }
        </div>
    </div>
</nav>
@*Not the best solution but meanwhile... class =  d-none d-md-block is hiding on sm screen solution*@
<nav class="navbar d-none d-md-block">
    <ul class="nav nav-site justify-content-center">
        @foreach (var item in sitemap)
        {
            if (!item.IsHidden)
            {
                if (item.Items.Count == 0)
                {
                    <li class="nav-item @(item.Id == WebApp.PageId ? "active" : "")">
                        <a  href="@item.Permalink">@item.MenuTitle</a>
                    </li>
                }
                else
                {
                    //showing sub menu
                   <li class=" nav-item @(item.Id == WebApp.PageId ? "active" : "") dropdown">
                         <a href="#" class=" dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> @item.MenuTitle</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                       @foreach (var subItm in item.Items)
                       {
                           if (!subItm.IsHidden)
                           {
                                <a class="dropdown-item" href="@subItm.Permalink">@subItm.MenuTitle</a>
                           }
                       }

                        </div>
                    </li>

                 }
            }
        }
     </ul>
</nav>
