@model Catfish.Models.Regions.GoogleCalendarPanel

@{
    string cssId = string.IsNullOrEmpty(Model.CssId) ? Guid.NewGuid().ToString().Replace('-', 'K') : Model.CssId;
    string cssClasses = string.IsNullOrEmpty(Model.CssClasses) ? "" : Model.CssClasses;
    string cssStyles = string.IsNullOrEmpty(Model.CssStyles) ? "" : Model.CssStyles;
}

<div id="@cssId" class="bs @cssClasses container container-fluid google-calendar-panel calendar-events calendar-default">
    <style type="text/css" scoped>
                    @Html.Raw(@cssStyles)
    </style>


    @if (Model.CalendarEvents != null)
    {
        foreach (var calendarEvent in Model.CalendarEvents)
        {
            <div class="row well calendar-event">

                <div class="col-md-10">
                    @if (Model.ShowEventSummary && calendarEvent.Summary != null)
                    {
                        <div class="summary">
                            <h4>@calendarEvent.Summary</h4>
                        </div>
                    }

                    @if (Model.ShowEventDescription && calendarEvent.Description != null)
                    {
                        <div class="description">@Html.Raw(calendarEvent.Description)</div>
                    }

                    @if (Model.ShowEventLocation && calendarEvent.Location != null)
                    {
                        <div class="location">@calendarEvent.Location</div>
                    }
                </div>
                <div class="col-md-2 calendar-event-dates">
                    @if (Model.ShowEventStart && calendarEvent.StartDateTime != null)
                    {
                        
                    <div class="date-time date-time-start">                        
                        <div class="date-month">@calendarEvent.StartMonth</div>
                        <div class="date-day">@calendarEvent.StartDay</div>
                        <div class="date-year">@calendarEvent.StartYear</div>
                        
                        @if (calendarEvent.StartTime != null)
                        {
                            <div class="date-hour">@calendarEvent.StartTime</div>
                        }

                    </div>
                    }

                    

                   @if (Model.ShowEventEnd && calendarEvent.EndDateTime != null)
                   {
                    <div class="date-separator glyphicon glyphicon-chevron-right"> </div>
                    <div class="date-time date-time-end">                        
                        <div class="date-month">@calendarEvent.EndMonth</div>
                        <div class="date-day">@calendarEvent.EndDay</div>
                        <div class="date-year">@calendarEvent.EndYear</div>
                        
                        @if (calendarEvent.EndTime != null)
                        {
                            <div class="date-hour">@calendarEvent.EndTime</div>
                        }

                    </div>
                    }

                   
                </div>
            </div>
        }
    }

</div>

