@model Catfish.Models.Regions.GoogleCalendarPanel


@{
    string cssId = string.IsNullOrEmpty(Model.CssId) ? Guid.NewGuid().ToString().Replace('-', 'K') : Model.CssId;
    string cssClasses = string.IsNullOrEmpty(Model.CssClasses) ? "" : Model.CssClasses;
    string cssStyles = string.IsNullOrEmpty(Model.CssStyles) ? "" : Model.CssStyles;

}

@if (Model.CalendarEvents != null)
{
    <div class="calendar-events calendar-flat google-calendar-panel">
    @foreach (var calendarEvent in Model.CalendarEvents)
    {
        <div class="calendar-event">
            @if (Model.ShowEventSummary && calendarEvent.Summary != null)
            {
                 <div class="summary">
                    @calendarEvent.Summary
                </div>
            }

            @if (Model.ShowEventDescription && calendarEvent.Description != null)
            {
                <div class="description">@calendarEvent.Description</div>
            }

            @if (Model.ShowEventLocation && calendarEvent.Location != null)
            {
                <div class="location">@calendarEvent.Location</div>
            }

            @if (Model.ShowEventStart && calendarEvent.StartDateTime != null)
            {
                        
            <div class="date-time date-time-start">                        
                <span class="date-month">@calendarEvent.StartMonth</span>
                <span class="date-day">@calendarEvent.StartDay</span>
                <span class="date-year">@calendarEvent.StartYear</span>
                        
                @if (calendarEvent.StartTime != null)
                {
                    <span class="date-time">@calendarEvent.StartTime</span>
                }

            </div>
            }

            @if (Model.ShowEventEnd && calendarEvent.EndDateTime != null)
            {
                        
            <div class="date-time date-time-end">                        
                <span class="date-month">@calendarEvent.EndMonth</span>
                <span class="date-day">@calendarEvent.EndDay</span>
                <span class="date-year">@calendarEvent.EndYear</span>
                        
                @if (calendarEvent.EndTime != null)
                {
                    <span class="date-time">@calendarEvent.EndTime</span>
                }

            </div>
            }

        </div>
    }
    </div>
}
