@model Catfish.Core.Models.Forms.CheckBoxSet

@Html.Hidden("ModelType", Model.GetType().AssemblyQualifiedName, new Dictionary<string, object>()
{
    {"class", "model-type"}
})
@Html.HiddenFor(m => m.Guid)
@Html.HiddenFor(m => m.IsRequired)
<div class="form-field-name">
    @Html.Label(string.IsNullOrEmpty(Model.Name) ? "" : Model.Name)
    @if (Model.IsRequired)
    {
        <span class="requiredFieldSymbol">*</span>
    }
</div>
<div class="form-field-value">
    @for (int i = 0; i < Model.Options.Count; ++i)
    {
        @Html.EditorFor(m => m.Options[i], "CheckOption")
        @*@Html.HiddenFor(m => m.Options[i].Value)*@
    }
</div>
