@model Catfish.Core.Models.Forms.DateField

@Html.Hidden("ModelType", Model.GetType().AssemblyQualifiedName, new Dictionary<string, object>()
{
    {"class", "model-type"}
})
@Html.HiddenFor(m => m.Guid)
@Html.HiddenFor(m => m.IsRequired)
@Html.HiddenFor(m => m.Name)

<div class="form-field-header">
    @Html.Label(string.IsNullOrEmpty(Model.Name) ? "" : Model.Name, new { @name = "label" })
    @if (Model.IsRequired)
    {
        <span class="requiredFieldSymbol">*</span>
    }
</div>
<div class="form-field-content">
    @Html.TextBoxFor(m => m.Value, new { @type = "date" })
</div>

