@model Catfish.Areas.Manager.Models.ViewModels.EntityAssociationViewModel
@using PerpetuumSoft.Knockout

@{
    var contextName = ViewBag.contanierId as string;
    if (string.IsNullOrEmpty(contextName)) {
        contextName = "ctx_" + Guid.NewGuid().ToString("N");
    }

    var ko = Html.CreateKnockoutContext(contextName);
 }

<div id="@contextName">
    @using (ko.Html.Form("AddAssociationItem", "EntityAssociationList", null, new { id = contextName + "Form" }))
    {
        <div class="col-sm-6">
            @using (var e = ko.Foreach(m => m.AssociatedEntities))
            {
                <div class="">
                    @e.Html.Span(i => i.Label)
                    @ko.Html.Button("x", "RemoveItem", "EntityAssociation", new { itemIndex = e.GetIndex() })
                </div>
            }
        </div>
        <div class="col-sm-6">
            @ko.Html.ListBox(m => m.AllEntities, new { style = "width:80%" }, e => e.Label).SelectedOptions(m => m.SelectedEntities)
        </div>
        <br />
        <br />
        @:<p>You have selected:[@ko.Html.Span(m => m.SelectedEntities.Count)]</p>
        using (var e = ko.Foreach(m => m.SelectedEntities))
        {
            <div>
                @e.Html.Span(i => i.Label)
            </div>
        }
        <br />
        @ko.Html.Button("Add To Associated Items", "AddSelection", "EntityAssociation")
        <br />        
        <br />
        <p>Associated Items</p>

        using (var e = ko.Foreach(m => m.AssociatedEntities))
        {
            <div>
                @e.Html.Span(i => i.Label)
            </div>
        }

    }
</div>
@ko.Apply(Model, contextName)
