@model Catfish.Core.Models.Forms.HtmlField

@Html.Hidden("ModelType", Model.GetType().AssemblyQualifiedName, new Dictionary<string, object>()
{
    {"class", "model-type"}
})
@Html.HiddenFor(m => m.Guid)
@Html.HiddenFor(model => model.IsRequired)

<div class="form-field-name">
    @Html.Label(string.IsNullOrEmpty(Model.Name) ? "" : Model.Name, new { @name = "label" })
    @if (Model.IsRequired)
    {
        <span class="requiredFieldSymbol">*</span>
    }
</div>
<div class="form-field-value">
    @{ bool showLanguageLabel = Model.Values.Count() > 1; }
    @Html.EditorFor(m => m.Values, new { ShowLanguageLabel = showLanguageLabel })
</div>


