@model Catfish.Models.Fields.ImageTile

<ul style="border:solid 1px #808080; margin: 10px 0;padding:5px;">
    <li>
        @Html.LabelFor(m => m.Image)
        <div class="input">@Html.EditorFor(m => m.Image)</div>
    </li>
    <li>
        @Html.LabelFor(m => m.CaptionHeading)
        <div class="input">@Html.TextBoxFor(m => m.CaptionHeading)</div>
    </li>
    <li>
        @Html.LabelFor(m => m.CaptionDescription)
        <div class="input">@Html.TextAreaFor(m => m.CaptionDescription)</div>
    </li>
    <li>
        @Html.LabelFor(m => m.ReadMoreLinkText)
        <div class="input">@Html.TextBoxFor(m => m.ReadMoreLinkText)</div>
    </li>
    <li>
        @Html.LabelFor(m => m.ReadMoreLink)
        <div class="input">@Html.TextBoxFor(m => m.ReadMoreLink)</div>
    </li>
</ul>
