@model Catfish.Core.Models.Metadata.RadioButtonSet

@Html.Hidden("ModelType", Model.GetType().AssemblyQualifiedName, new Dictionary<string, object>()
{
    {"class", "model-type"}
})
@Html.HiddenFor(m => m.Ref)


<div class="form-field-header">
    @Html.Label(string.IsNullOrEmpty(Model.Name) ? "" : Model.Name)
</div>
<div class="form-field-content">
    <ul>
        @foreach (var option in Model.Options.Split('\n'))
        {
            <li class="no-background-border">
                @Html.RadioButtonFor(m => m.Value, option, new { @class = "auto-width" })
                <span>@option</span>
            </li>
        }
    </ul>
</div>
