@model Catfish.Core.Models.Forms.RadioButtonSet
@using Catfish.Helpers;

@Html.Hidden("ModelType", Model.GetType().AssemblyQualifiedName, new Dictionary<string, object>()
{
    {"class", "model-type"}
})
@Html.HiddenFor(m => m.Guid)

<div class="form-field-name">
    @Html.Label(string.IsNullOrEmpty(Model.Name) ? "" : Model.Name)
</div>
<div class="form-field-value">
    @for (int i = 0; i < Model.Options.Count; ++i)
    {
        var lang = ViewHelper.GetActiveLanguage();
        string label = Model.Options[i].Value.Where(v => v.LanguageCode == lang.TwoLetterISOLanguageName).Select(v => v.Value).FirstOrDefault();
        if (string.IsNullOrEmpty(label) && Model.Options[i].Value.Count > 0)
        {
            label = Model.Options[i].Value[0].Value;
        }

        @Html.RadioButton("Value", label, Model.Options[i].Selected, new { @class = "auto-width" })
        <span>@label</span>
    }
</div>




@*<div class="form-field-header">
    @Html.Label(string.IsNullOrEmpty(Model.Name) ? "" : Model.Name)
</div>
<div class="form-field-content">
    <ul>
        @foreach (Option option in Model.Options) {
            <li class="no-background-border">
                @Html.RadioButton("Value", option.Value, option.Selected, new { @class = "auto-width" })
                <span>@Html.Raw(option.Value)</span>
            </li>
        }
    </ul>
</div>*@
