@model Catfish.Core.Models.TextValue
@Html.Hidden("ModelType", Model.GetType().AssemblyQualifiedName, new Dictionary<string, object>()
{
    {"class", "model-type"}
})

@Html.HiddenFor(m => m.LanguageCode)
<div class="languageInputField">
    @if (ViewBag.ShowLanguageLabel == true)
    {
        <span class="lang-label">@Model.LanguageLabel: </span>
    }
        @if (ViewBag.MultiLine == true)
        {
            <div>
                @Html.TextAreaFor(m => m.Value)
            </div>
        }
        else
        {
           @Html.EditorFor(m => m.Value)   
        }
</div>

