@model Catfish.Core.Models.Forms.TextArea

@Html.Hidden("ModelType", Model.GetType().AssemblyQualifiedName, new Dictionary<string, object>()
{
    {"class", "model-type"}
})
@Html.HiddenFor(m => m.Guid)
@Html.HiddenFor(m => m.IsRichText)
@Html.HiddenFor(m => m.IsRequired)

<div class="name">
    @Html.Label(string.IsNullOrEmpty(Model.Name) ? "" : Model.Name, new { @name = "label" })
    @if (Model.IsRequired)
    {
        <span class="requiredFieldSymbol">*</span>
    }
</div>
<div class="@(Model.IsRichText ? "rich-text-transform" : "")">
    @{ bool showLanguageLabel = Model.Values.Count() > 1; }
    @Html.EditorFor(m => m.Values, new { ShowLanguageLabel = showLanguageLabel, MultiLine = true })
</div>
