@model Catfish.Models.Fields.Tile<MediaType,BodyType>

<ul style="border:solid 1px #808080; margin: 10px 0;padding:5px;">
    <li>
        @Html.LabelFor(m => m.PrimaryMedia)
        <div class="input">@Html.EditorFor(m => m.PrimaryMedia)</div>
    </li>
    <li>
        @Html.LabelFor(m => m.Title)
        <div class="input">@Html.TextBoxFor(m => m.Title)</div>
    </li>
    <li>
        @Html.LabelFor(m => m.Body)
        <div class="input">@Html.TextAreaFor(m => m.Body)</div>
    </li>
    <li>
        @Html.LabelFor(m => m.ReadMoreLinkText)
        <div class="input">@Html.TextBoxFor(m => m.ReadMoreLinkText)</div>
    </li>
    <li>
        @Html.LabelFor(m => m.ReadMoreLink)
        <div class="input">@Html.TextBoxFor(m => m.ReadMoreLink)</div>
    </li>
</ul>
