@using Catfish.Core.Helpers
@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@using Catfish.Helper
@using Catfish.Models.SiteTypes
@using Microsoft.Extensions.Hosting
@inject IWebHostEnvironment Env
@inject ICatfishAppConfiguration _catfishAppConfig;

@inject ICompositeViewEngine _viewEngine
@inject Piranha.IApi _piranhaApi;
@inject Catfish.Services.IAppService _appService;

<!doctype html>
<html lang="en">
<head>
    @if (!User.Identity.IsAuthenticated && !Env.IsDevelopment())
    {
        <!-- Insert Google Analytics here -->
    }
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:700|Open+Sans:300,400,600">
        <link rel="stylesheet" href="~/assets/css/style.min.css">*@

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js" integrity="sha384-3ziFidFTgxJXHMDttyPJKDuTlmxJlwbSkojudK/CkRqKDOmeSbN6KLrGdrBQnT2n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    @*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    @*<link rel="stylesheet" href="~/css/style.min.css">*@
    <link href="~/assets/css/public/style.css" rel="stylesheet" />
    <link href="~/assets/css/public/componentStyles.css" rel="stylesheet" />
    <link href="~/assets/css/public/transitionAndAnimationPublicSide.css" rel="stylesheet" />
    <link href="~/assets/css/public/commonBlockStyles.css" rel="stylesheet" />
    <script src="~/assets/js/catfish.js"></script>


    <script src="~/assets/js/_public-facing/scripts/component-scripts.js"></script>
    <script src="~/assets/js/_public-facing/scripts/item-child-add-functions.js"></script>
    <script src="~/assets/js/_public-facing/scripts/item-list-functions.js"></script>
    <script src="~/assets/js/_public-facing/scripts/item-details-page-functions.js"></script>
    <script src="~/assets/js/_public-facing/scripts/item-edit-page-functions.js"></script>

    <script src="/assets/js/_public-facing/scripts/data-item-form-functions.js"></script>
    <script src="/assets/js/_public-facing/scripts/attachment-functions.js"></script>
    <script src="/assets/js/_public-facing/scripts/composite-field-functions.js"></script>
    <script src="/assets/js/_public-facing/scripts/table-field-functions.js"></script>


    @foreach (var url in _appService.GetScriptUrls())
    {
        <script src="@url"></script>
    }
    @foreach (var url in _appService.GetStylesheetUrls())
    {
        <link href="@url" rel="stylesheet" />
    }

    @{
        //Inserting custom CSS files
        string[] customStyles = _catfishAppConfig.GetValue("SiteConfig:PublicCss", new string[0]);
        foreach (var file in customStyles)
        {
            <link href="@file" rel="stylesheet" />
        }
    }

    <!-- Google Login  -->
    <script src="https://apis.google.com/js/platform.js"></script>
    <meta name="google-signin-client_id" content="@_catfishAppConfig.GetGoogleClientId()">

    <title>@ViewBag.Title</title>

    @if (Model is Piranha.Models.IMeta)
    {
        <partial name="~/Views/Shared/Partial/_Meta.cshtml" />
    }

    @RenderSection("head", required: false)
    @*<script src="/assets/js/vue/vue-dev.js"></script>*@
    <script>
        let sitemap = @Json.Serialize(WebApp.Site.Sitemap);
        $(function () {
            updateBreadcrumb();
        });
    </script>

    <partial name="../../Views/Shared/Partial/_AssetRegistry.cshtml" />

</head>
<body>
    <div id="vueApp">
        @{
            var site = await _piranhaApi.Sites.GetByInternalIdAsync("Default");//"Default" is InternalId of the site
            var logoUrl = _catfishAppConfig.GetLogoUrl();
            string loginButtonLocation = _catfishAppConfig.GetValue("SiteConfig:LoginButtonLocation", null as string);
            ICatfishAppConfiguration.ePanelLocation searchPanelLocation = _catfishAppConfig.GetDefaultSearchPanelLocation();
            var homepage = WebApp.Site.Sitemap.FirstOrDefault();
            string homepageUrlStartTag = "";
            string homepageUrlEndTag = "";
            if (homepage != null)
            {
                homepageUrlStartTag = string.Format("<a href='{0}'>", homepage.Permalink);
                homepageUrlEndTag = "</a>";
            }

            <div class="container">
                <div class="row">
                    @if (!string.IsNullOrEmpty(logoUrl))
                    {
                        <div id="site-logo">@Html.Raw(homepageUrlStartTag)<img src="@logoUrl" />@Html.Raw(homepageUrlEndTag) </div>
                    }
                    <div class="header-brand">
                        <h1>@Html.Raw(homepageUrlStartTag)@site.Title@Html.Raw(homepageUrlEndTag) </h1>
                        <h3>@site.Description</h3>
                    </div>
                    @if (searchPanelLocation == ICatfishAppConfiguration.ePanelLocation.Header)
                    {
                        <partial name="/Views/Shared/Partial/_Search.cshtml" />
                    }
                </div>
            </div>
            <header class="site-header  @(ViewBag.HasImage == null || !ViewBag.HasImage ? "site-header-dark" : "")">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <div id="site-header-root"></div>
                            <partial name="/Views/Shared/Partial/_Menu.cshtml" />
                        </div>
                        @if (_catfishAppConfig.IsAllowGoogleLogin())
                        {
                            <div class="signinout">
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    var path = Context.Request.Path.ToString();
                                    <button id="btnSignIn" class="btn btn-link" onclick="window.location.href = '@ConfigHelper.SiteUrl/login?ret=@path'; return false;"><span class="fa fa-sign-in "> Sign In</span></button>
                                }
                                else
                                {
                                    if (User.IsInRole("SysAdmin"))
                                    {
                                        <button class="btn btn-link" onclick="window.location.href='@ConfigHelper.SiteUrl/manager'"><span class="fa fa-table"> Dashboard</span></button>
                                    }
                                    <button id="btnSignOut" onclick="signOut(); return false;" class="btn btn-link"><span class="fa fa-sign-out"> Sign Out</span></button>
                                }
                            </div>
                        }
                    </div> @* row*@

                    @* Bread crumb *@
                    @if (_catfishAppConfig.GetEnabledBreadcrumb())
                    {
                        <div class="breadcrumb-container col-sm">
                            <ul class="breadcrumb"></ul>
                        </div>
                    }
                </div> @*container*@
            </header>
        }
        @if (searchPanelLocation == ICatfishAppConfiguration.ePanelLocation.Body)
        {
            <partial name="/Views/Shared/Partial/_Search.cshtml" />
        }
        @RenderBody()


        <footer class="border-top footer text-muted">
            <div class="container">
                @{
                    var currentSite = await WebApp.Site.GetContentAsync<CatfishWebsite>();
                    var javascriptCode = (currentSite == null || currentSite.FooterContents == null || currentSite.FooterContents.Javascript == null)
                        ? "" : currentSite.FooterContents.Javascript.Value;
                    var cssCode = (currentSite == null || currentSite.FooterContents == null || currentSite.FooterContents.Css == null)
                       ? "" : currentSite.FooterContents.Css.Value;
                }
                @if (currentSite != null)
                {
                    <div class="row">

                        <div class="col-6 footer-arc-text">
                            @Html.Raw(currentSite.FooterContents.Text)
                        </div>
                        <div class="col-6 footer-arc-logo">
                            Designed and engineered by <img src="@Url.Content(currentSite.FooterContents.Logo)" />
                        </div>

                        @Html.Raw(javascriptCode)

                        @Html.Raw(cssCode)


                    </div>
                }
            </div>
        </footer>
    </div>@*End of vueApp div *@

    <script>
        //KR: 2021-02-25 Not too sure whether we need VueJS for custom-biult pages
        //               in the public side. This layout is applied for those custom-built
        //               pages and NOT for Piranha-based pages created through the manager
        //               interface. When we enable VueJS on those custom-built pages, we get
        //               lots of javascript errors, so we commented the following code on Feb 25, 2021.
        //new Vue({ el: '#vueApp' })
    </script>

    @RenderSection("script", required: false)

    <script>

        function onLoad() {
            gapi.load('auth2', function () {
                gapi.auth2.init();
            });
        }
        function signOut(siteUrl) {
            //signout local login
            $.ajax({
                type: 'GET',
                url: siteUrl + "/CatfishUser",
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                }
            }).done(function (result) {
                //sign out google gapi.auth2.getAuthInstance().currentUser.get().reloadAuthResponse();
                try {
                    var auth2 = gapi.auth2.getAuthInstance().currentUser.get().reloadAuthResponse();
                    auth2.signOut().then(function () {
                        //console.log('User signed out.');
                        auth2.disconnect();
                        window.location.href = siteUrl;
                    });
                    auth2.disconnect();
                } catch (ex) {
                    window.location.href = "/";
                }


            });
        }

    $(function () {
        @foreach (var call in _appService.GetOnLoadFunctionCalls())
        {
            @Html.Raw(call)
        }
    });

    </script>
    @*<script src="~/assets/dist/vendorsPublicFacingSide.js"></script>*@
</body>
</html>
