@model Catfish.Models.Regions.AdvanceSearchContainer
@using Catfish.Core.Models;


@{ string cssId = string.IsNullOrEmpty(Model.CssId) ? Guid.NewGuid().ToString().Replace('-', 'K') : Model.CssId;
    string cssClasses = string.IsNullOrEmpty(Model.CssClasses) ? "" : Model.CssClasses;
    string cssStyles = string.IsNullOrEmpty(Model.CssStyles) ? "" : Model.CssStyles;
    int i = 0;
}
<div id="@cssId" class="bs @cssClasses container container-fluid">
    <style type="text/css" scoped>
           @Html.Raw(cssStyles)
    </style>
   
   
       
       @foreach (var m in Model.Mappings)
       {
           var label = m.Label;
           var fType = m.Field.GetType();
          

        <div class="row advanceSearchContainerInput">
            <div style="font-size: 1.3em;">@label  </div>
            @if (fType.FullName == "Catfish.Core.Models.Forms.TextField")
            {
                <div style="height:30px" class="divText"><input type="text" class="input" id="AdvanceSearchContainer-@label-Text" /></div>

            }
            else if (fType.FullName == "Catfish.Core.Models.Forms.NumberField" || fType.FullName == "Catfish.Core.Models.Forms.DateField")
            {
                //number field or Date field
                <div class="divNumber">
                    <span class="label-default" style="font-size:1em;">From</span><input type="text" id="AdvanceSearchContainer-@label-From" style="height:30px" />
                    <span class="label-default" style="font-size:1em;">To</span><input type="text" id="AdvanceSearchContainer-@label-To" style="height:30px" />
                </div>

            }
            else if (typeof(Catfish.Core.Models.Forms.OptionsField).IsAssignableFrom(fType))
            {
                if (Model.Multiples[i])
                {
                    <div class="divCheckbox">
                        <ul>
                            @foreach (var option in ((Catfish.Core.Models.Forms.OptionsField)m.Field).Options)
                        {
                            var nm = "AdvanceSearchContainer-Chkbox";
                                <li>
                                    <input type="checkbox" name="@nm" value="@option.Guid" />
                                    <span>@option.Value[0].Value</span>
                                </li>
                            }
                        </ul>
                    </div>
                }
                else
                {
                    @:<div class="divDropDownList">
                        var options = new SelectList(((Catfish.Core.Models.Forms.OptionsField)m.Field).Options, "Guid", "Value[0].Value");
                        var nm = "AdvanceSearchContainer-DropdownList";
                        @Html.DropDownList("@nm", options)
                    @:</div>
                }
            }

        </div>
           i++;
       }

      
    <div class="row"><button id="AdvanceSearchContainer_Search_Button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>Search</button></div>
</div>

<script>
   $(function() {
        $("#AdvanceSearchContainer_Search_Button").click(function(){
           var rows = $(".advanceSearchContainerInput");
           rows.forEach(function(d){
          
           });
        });
    });
</script>