@model Catfish.Models.Regions.AdvanceSearchContainer
@using Catfish.Core.Models;


@{ string cssId = string.IsNullOrEmpty(Model.CssId) ? Guid.NewGuid().ToString().Replace('-', 'K') : Model.CssId;
    string cssClasses = string.IsNullOrEmpty(Model.CssClasses) ? "" : Model.CssClasses;
    string cssStyles = string.IsNullOrEmpty(Model.CssStyles) ? "" : Model.CssStyles;
    int i = 0;
}
<div id="@cssId" class="bs @cssClasses container container-fluid">
    <style type="text/css" scoped>
           @Html.Raw(cssStyles)
    </style>
   
   
       
       @foreach (var m in Model.Mappings)
       {
           var label = m.Label;
           var fType = m.Field.GetType();


        <div class="row advanceSearchContainerInput" data-searchid="value_@(m.MetadataSet.Guid.Replace("-", "_"))_@(m.Field.Guid.Replace("-", "_"))_">
            <div style="font-size: 1.3em;">@label  </div>
            @if (fType.FullName == "Catfish.Core.Models.Forms.NumberField" || fType.FullName == "Catfish.Core.Models.Forms.DateField")
            {
                //number field or Date field
                <div class="divNumber">
                    <span class="label-default" style="font-size:1em;">From</span><input type="text" id="AdvanceSearchContainer-@label-From" style="height:30px" />
                    <span class="label-default" style="font-size:1em;">To</span><input type="text" id="AdvanceSearchContainer-@label-To" style="height:30px" />
                </div>

            }
            else if (typeof(Catfish.Core.Models.Forms.OptionsField).IsAssignableFrom(fType))
            {
                if (Model.Multiples[i])
                {
                    <div class="divCheckbox">
                        <ul>
                            @foreach (var option in ((Catfish.Core.Models.Forms.OptionsField)m.Field).Options)
                            {
                                var nm = "AdvanceSearchContainer-Chkbox";
                                <li>
                                    <input type="checkbox" name="@nm" value="@option.Guid" />
                                    <span>@option.Value[0].Value</span>
                                </li>
                            }
                        </ul>
                    </div>
                }
                else
                {
                    @:<div class="divDropDownList">
                        var options = new SelectList(((Catfish.Core.Models.Forms.OptionsField)m.Field).Options, "Guid", "Value[0].Value");
                    var nm = "AdvanceSearchContainer-DropdownList";
                        @Html.DropDownList(@nm, options)
                    @:</div>
                }
            }
            else //(fType.FullName == "Catfish.Core.Models.Forms.TextField")
            {
                 <div style = "height:30px" class="divText">
                   <input type = "text" class="input" id="AdvanceSearchContainer-@label-Text" /></div>
            }


        </div>
           i++;
       }

      
    <div class="row"><button id="AdvanceSearchContainer_Search_Button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>Search</button></div>
</div>

<script>
   $(function() {
      var url = window.location.href;
       if(url.indexOf("?q") > 0 )
       {
           var params = url.split("?")[1];
           reloadForm(params);
       }

        $("#AdvanceSearchContainer_Search_Button").click(function(){
                var searchString="", searchValue;
                var elmId = "AdvanceSearchContainer-";
                var rows = $(".advanceSearchContainerInput");

                rows.each(function(index){
                    var searchId = $(this).attr("data-searchid");
                    var r = rows[index];
                    var label = (r.innerText).trim();
                    if(rows[index].lastElementChild.className === "divText")
                    {
                         var id =elmId + label + "-Text"; //single text box id "AdvanceSearchContainer-{Label}-Text"
                         searchValue = $("#" + id).val();
                         searchString = searchString.length > 0 ? searchString + "&" : "";
                         searchString = searchString + (searchId + 'txt_en:"' + searchValue + '"');
                    }
                    else if(rows[index].lastElementChild.className === "divNumber")
                    {
                        label = r.firstElementChild.innerText;
                         var id =elmId + label;// + "-From"; //single text box id "AdvanceSearchContainer-{Label}-Text"
                         var from = $("#" + id + "-From").val();

                         var to = $("#" + id + "-To").val();
                          searchString = searchString.length > 0 ? searchString + "&" : "";
                         searchString = searchString + (searchId + "i" + ':[' + from + ' To ' + to + ']');
                    }
                     else if(rows[index].lastElementChild.className === "divCheckbox")
                    {
                         var name =elmId + "Chkbox";
                         var selectedValues=[];
                         var checkboxes = $('input[name="'+ name +'"]');
                            selectedValues = checkboxes.filter(":checked").map(function () {
                                  return this.parentElement.innerText;
                         }).get()

                           var searchOption="(";
                           for(var i =0; i < selectedValues.length; i++)
                           {
                                 if(i > 0)
                                 { searchOption += "|"; }

                                 searchOption += "option_" + searchId + 'text_en:"' + selectedValues[i].trim() + '"';
                           }
                          searchOption=searchOption +")";
                         searchString = searchString.length > 0 ? searchString + "&" : "";
                         searchString = searchString + searchOption;
                    }
                      else if(rows[index].lastElementChild.className === "divDropDownList")
                    {
                         var id ="region_Value_" + elmId + "DropdownList";
                         selectedValue = $("#" + id +" option:selected").text();
                         searchString = searchString.length > 0 ? searchString + "&" : "";
                         searchString = searchString + (searchId + 'text_en:"' + selectedValue + '"');
                    }

                });
               alert(searchString);
               var queryEncoded= "?q=" + encodeURIComponent(searchString);
               if(url.indexOf("?q") > 0 )
                {
                   url = url.split("?")[0];
                }
                url = url + queryEncoded;
                window.location.href = url; //reload the page
               alert(queryEncoded);
            });
    });


    function reloadForm(content)
    {

        var params = decodeURIComponent(content);
        alert(param);


    }
</script>