@model Catfish.Models.Widgets.Carousel

<style>
    div.carousel-inner > div.item{
        background-repeat: no-repeat;
        background-size: cover;
    background-position: center;
        height: 400px;
    }

    @Model.CssStyles
</style>
@{
    var cssId = Model.CssId;
    var cssClasses = Model.CssClasses;
}

<div id="@cssId" class="carousel slide @cssClasses" data-ride="carousel">
    @if (Model.EnableControls)
    {
        <ol class="carousel-indicators">
            <li data-target="#@cssId" data-slide-to="0" class="active"></li>
            <li data-target="#@cssId" data-slide-to="1"></li>
            <li data-target="#@cssId" data-slide-to="2"></li>
        </ol>
    }
    <div class="carousel-inner" role="listbox">
        @{
            var urls = Model.ImageUrls.Split(new char[] { ',', ' ', ';' }, StringSplitOptions.RemoveEmptyEntries);
            for (var i = 0; i < urls.Length; ++i)
            {
                var isActive = i == 0 ? "active" : "";
                var inlineStyles = "background-image:url('" + urls[i] + "');";
                <div class="item @isActive" style="@inlineStyles">

                </div>

            }
        }
    </div>
    @*@if (Model.EnableControls)*@
    @*{*@
        <a class="carousel-control-prev" href="#@cssId" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#@cssId" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    @*}*@
</div>
@{var interval = Model.Interval == 0 ? 1000 : Model.Interval;}
<script language="JavaScript" type="text/javascript">
    $(document).ready(function () {
        $('#carouselExampleIndicators').carousel({
            interval: @interval
        })
    });
</script>
