@model Catfish.Models.Regions.FacebookTimelinePanel

@{
    string cssId = string.IsNullOrEmpty(Model.CssId) ? Guid.NewGuid().ToString().Replace('-', 'K') : Model.CssId;
    string cssClasses = string.IsNullOrEmpty(Model.CssClasses) ? "" : Model.CssClasses;
    string cssStyles = string.IsNullOrEmpty(Model.CssStyles) ? "" : Model.CssStyles;

}


<div id="@cssId" class="bs @cssClasses container container-fluid">
    <style type="text/css" scoped>
                    @Html.Raw(cssStyles)
    </style>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3"></script>
    <div class="fb-page" data-href="@Model.TimelineUrl" data-tabs="timeline" data-width="@Model.Width" data-height="@Model.Height" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/cbcnews" class="fb-xfbml-parse-ignore"><a href="@Model.TimelineUrl"></a></blockquote></div>
</div>

<style>
    .@cssClasses{
      max-width:50%;
    }
</style>
