@model Catfish.Models.Widgets.FlexBox

@{
    var cssId = Model.CssId != null ? Model.CssId : "DefaultFlexBoxId";

    <style>
        #@cssId .flex-row{
			display:flex;
			flex-wrap:wrap;
        }
        #@cssId div.flexbox-item{
            min-height:50px;
            /*border:solid 1px #808080;*/
            margin: 10px 0;
            padding:0px 30px;
			text-align:justify;			
			text-overflow: ellipsis;

        }
        #@cssId div.primary-media {
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            height: 100px;
        }
        #@cssId h3{
			#@cssId div.flexbox-item{
				margin: 10px 0;
			}
        }
		
		@Html.Raw("@")media (max-width: 768px){ 
		
		}
        @Model.Styles
    </style>}

@if (Model.Items.Count > 0 || !string.IsNullOrEmpty(Model.Title) || !string.IsNullOrEmpty(Model.Description))
{
    var panelClasses = Model.PanelClasses;
    var itemClasses = Model.ItemClasses;

    <div id="@cssId">
        @if (!string.IsNullOrEmpty(Model.Title))
        {
            <h2 class="flexbox-title">@Model.Title</h2>
        }
        @if (!string.IsNullOrEmpty(Model.Description))
        {
            <div class="flexbox-desc">@Model.Description</div>
        }
        
        <div class="d-flex flex-row @panelClasses">
            @foreach (var item in Model.Items)
            {
                <div class="flexbox-item @itemClasses">
                    @if (!string.IsNullOrEmpty(item.Title))
                    {
                        <h3>@item.Title</h3>
                    }

                    @if (item.PrimaryMedia != null && item.PrimaryMedia.Id != Guid.Empty)
                    {
                        var imageUrl = "/media/" + item.PrimaryMedia.Id;
                        var inlineStyles = "background-image:url('" + imageUrl + "');";
                        <div class="primary-media" style="@inlineStyles"></div>
                    }

                    @if (!string.IsNullOrEmpty(item.Body))
                    {
                        <div class="item-body">@Html.Raw(item.Body)</div>
                    }
                </div>
            }
        </div>
        @if (Model.ClearRow)
        {
        <div style="clear:both"></div>
        }
    </div>
}
