@model Catfish.Models.Regions.FormContainer

@using Piranha.Mvc;
@using Piranha.Models;

@{ 
    string cssId = string.IsNullOrEmpty(Model.CssId) ? Guid.NewGuid().ToString().Replace('-','K') : Model.CssId;
    string cssClasses = string.IsNullOrEmpty(Model.CssClasses) ? "" : Model.CssClasses;
    string cssStyles = string.IsNullOrEmpty(Model.CssStyles) ? "" : Model.CssStyles;

    // Change the controller to work with the FormSubmission controller and views.
    var oldController = ViewContext.Controller.ControllerContext.RouteData.Values["controller"];
    ViewContext.Controller.ControllerContext.RouteData.Values["controller"] = "FormSubmission";
}

<div id="@cssId" class="bs @cssClasses form">
    <style type="text/css" scoped>
                    @Html.Raw(cssStyles)
    </style>
    <form method="post" action="@UI.Permalink()/Edit">
        @Html.EditorFor(m => m.FormViewModel)
        <br />
        <br />
        <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
</div>

<script type="text/javascript">
    $("#@cssId").submit(function (ev) {
        ev.preventDefault();
        submitFormContainer("@Html.NameFor(m => m.FormViewModel)", this, @Html.Raw(Json.Encode(Model)));
    })
</script>

@{ 
    // Sets the controller back to the original.
    ViewContext.Controller.ControllerContext.RouteData.Values["controller"] = oldController;
}
