@model Catfish.Models.Regions.GraphPanel
@using Catfish.Core.Models;

@{
    string cssId = string.IsNullOrEmpty(Model.CssId) ? Guid.NewGuid().ToString().Replace('-', 'K') : Model.CssId;
    string cssClasses = string.IsNullOrEmpty(Model.CssClasses) ? "" : Model.CssClasses;
    string cssStyles = string.IsNullOrEmpty(Model.CssStyles) ? "" : Model.CssStyles;

    string scriptVariable = "GraphPanel" + Guid.NewGuid().ToString("N");
}

    @Model.RenderScript("https://d3js.org/d3.v4.min.js", Url)
    @Model.RenderScript("~/Scripts/D3/graph.js", Url)

    <div id="@cssId" class="bs @cssClasses container container-fluid loadable-panel" style="margin-left:0;" data-script-variable="@scriptVariable">
        <style type="text/css" scoped>
                        @Html.Raw(cssStyles)
        </style>
   
        <svg class="line-chart" style="width: 75%;"> </svg>
        <div class="legend" style="width: 25%;@(string.IsNullOrEmpty(Model.Category) ? "display: none !important;" : "")"></div>  
        <form class="barchartOption">
            <label><input type="radio" name="mode" value="grouped" />Grouped</label>
            <label><input type="radio" name="mode" value="stacked" checked />Stackeded</label>
        </form>
    </div>

    <script>
        window['@scriptVariable'] = new GraphPanel('@cssId', @Html.Raw(Json.Encode(Url.Action("GetGraphData", "Items"))), '@Enum.GetName(typeof(Catfish.Models.Regions.GraphPanel.GraphType), Model.SelectedGraphType)',
            '@Model.XaxisLabel', '@Model.YaxisLabel', '@Model.GraphTitle', parseInt('@Model.XScale'), parseInt('@Model.YScale'),
            @Html.Raw(Json.Encode(Model.SelectedMetadataSetX)), @Html.Raw(Json.Encode(Model.XaxisField)),
            @Html.Raw(Json.Encode(Model.SelectedMetadataSetY)), @Html.Raw(Json.Encode(Model.YaxisField)),
            @Html.Raw(Json.Encode(Model.SelectedMetadataSetCat)), @Html.Raw(Json.Encode(Model.Category)),
            @Html.Raw(Json.Encode(Model.CountAll)));
    </script>

    <style>
        .barchartOption{
            display: none;
        }
        .legend-item{
            background-color:lightgray;
            padding:2px;
            margin:2px;
            border-radius:2px;
        }
        .legend {
            font-size: 14px !important;
            width: 100px;
            /*border: 1px solid grey;*/
            float: right;
            margin-right: 20%;
            margin-top: 10%;
            padding: 5px;
        }

      
        .line-chart {
            margin-top: 20px;
        }

        .bar {
            fill: steelblue;
        }

        .line {
            fill: none;
            stroke: steelblue;
            stroke-width: 1.5px;
        }

        path {
            stroke: steelblue;
            stroke-width: 2;
            fill: none;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: grey;
            stroke-width: 1;
            shape-rendering: crispEdges;
        }

        .legend {
            font-size: 16px;
            font-weight: bold;
            text-anchor: middle;
        }
    </style>
