@model Catfish.Models.Regions.RelationshipContainer
@using Catfish.Core.Models;

@{ 
    string cssId = string.IsNullOrEmpty(Model.CssId) ? Guid.NewGuid().ToString().Replace('-', 'K') : Model.CssId;
    string cssClasses = string.IsNullOrEmpty(Model.CssClasses) ? "" : Model.CssClasses;
    string cssStyles = string.IsNullOrEmpty(Model.CssStyles) ? "" : Model.CssStyles;
}

<h2>Membership Container</h2>

<div id="@cssId" class="bs @cssClasses container container-fluid">
    <style type="text/css" scoped>
                    @Html.Raw(cssStyles)
    </style>
   
           <table class="table table-responsive table-striped">
               <tr><th>Title</th><th>Description</th></tr>
               @{

                   foreach (var entity in Model.RelatedMembers)
                   {
                       string link = Model.PageLink + "?entity=" + entity.Id;
                      <tr>
                          <td><a href="@link">@entity.Name</a></td>
                          <td>@entity.Description</td>
                          
                       </tr> 
                      
                   }
               }
           </table>
   
</div>