@model Catfish.Core.Models.Entity
@{
    string languageCode = Catfish.Helpers.ViewHelper.GetActiveLanguage().TwoLetterISOLanguageName;
    IDictionary<string, string> pageDictionary = (Dictionary<string, string>)ViewData["PageDictionary"];
    string pageUrl = null;
    /*string pageUrl = pageDictionary[Model.GetType().Name];*/

    if(!string.IsNullOrEmpty(pageUrl))
    {
        pageUrl = UI.Permalink(pageUrl).ToString();

        var uriBuilder = new UriBuilder(pageUrl);
        var query = HttpUtility.ParseQueryString(uriBuilder.Query);
        query[Catfish.Models.Regions.SearchResults.ENTITY_PARAM] = Model.Id.ToString();
    }
}

<div class="panel panel-default searchResult">
    @*<div class="panel-heading">@Html.ActionLink(
                              string.Format(Catfish.Resources.Views.Shared.DisplayTemplates.SearchResult.ResultTitleFormat,
                              ViewData["Index"], Model.GetName(languageCode)),
                              "index", "entity", new { id = Model.Id }, new { })
    </div>*@
    <div class="panel-heading">
        @if (string.IsNullOrEmpty(pageUrl))
        {
            <text>
                @string.Format(Catfish.Resources.Views.Shared.DisplayTemplates.SearchResult.ResultTitleFormat,
                              ViewData["Index"], Model.GetName(languageCode))
            </text>
        }
        else{ 
            <a href="@pageUrl">
                @string.Format(Catfish.Resources.Views.Shared.DisplayTemplates.SearchResult.ResultTitleFormat,
                              ViewData["Index"], Model.GetName(languageCode))
            </a>
        }

    </div>
    <div class="panel-body">@Model.GetDescription(languageCode)</div>
</div>

