@model Catfish.Models.Regions.SimpleSearch

@{ 
    string divId = string.IsNullOrEmpty(Model.CssId) ? Guid.NewGuid().ToString() : Model.CssId;
    string query = Request.QueryString[Catfish.Models.Regions.SimpleSearch.QUERY_PARAM];

    if(query == null)
    {
        query = "";
    }

    string pageUrl = Url.Content("~");
    if (Model.PageLink != null)
    {
        pageUrl = UI.Permalink(Model.PageLink).ToString();
    }
}

<style scoped>
    @Html.Raw(Model.CssStyles)
</style>
<div id="@divId" class="container search-section @Model.CssClasses">
        @using(Html.BeginForm(null, null, FormMethod.Get, new { @action = pageUrl, @class = "search row" }))
        {
            <input type="text" name="@Catfish.Models.Regions.SimpleSearch.QUERY_PARAM" value="@query" />
            <button type="submit" class="btn btn-info" title="@Catfish.Resources.Views.Shared.DisplayTemplates.SimpleSearch.Search">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        }
</div>

