@model Catfish.Models.Regions.TwitterTimelinePanel

@{
    string cssId = string.IsNullOrEmpty(Model.CssId) ? Guid.NewGuid().ToString().Replace('-', 'K') : Model.CssId;
    string cssClasses = string.IsNullOrEmpty(Model.CssClasses) ? "" : Model.CssClasses;
    string cssStyles = string.IsNullOrEmpty(Model.CssStyles) ? "" : Model.CssStyles;
  
}


<div id="@cssId" class="bs @cssClasses container container-fluid">
    <style type="text/css" scoped>
                    @Html.Raw(cssStyles)
    </style>
    <a class="twitter-timeline" data-theme="@Model.Theme" href="@Model.TimelineUrl" data-tweet-limit="@Model.NumOfPosts"></a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<style>
    .@cssClasses{ 
      max-width:50%;
    }
</style>