@model Catfish.Models.Regions.VimeoPanel

@{
    string cssId = string.IsNullOrEmpty(Model.CssId) ? Guid.NewGuid().ToString().Replace('-', 'K') : Model.CssId;
    string cssClasses = string.IsNullOrEmpty(Model.CssClasses) ? "" : Model.CssClasses;
    string cssStyles = string.IsNullOrEmpty(Model.CssStyles) ? "" : Model.CssStyles;
    DateTime todayDate = DateTime.Now;
    bool displayPreMessage = false;
    bool displayPostMessage = false;
    bool displayVideo = true;
    DateTime sDate = DateTime.MinValue;
    if (Model.StartDate.ToShortDateString() != DateTime.MinValue.ToShortDateString()) {
        sDate = Model.StartDate;
    }
    DateTime eDate = DateTime.MaxValue;
    if (Model.EndDate.ToShortDateString() != DateTime.MinValue.ToShortDateString())
    {
        eDate = Model.EndDate;
    }


    if (!string.IsNullOrEmpty(Model.BeforeMessage))
    {
        if(todayDate < sDate)
        {
            displayPreMessage = true;
        }
    }
    if (!string.IsNullOrEmpty(Model.AfterMessage))
    {
        if (todayDate > eDate)
        {
            displayPostMessage = true;
        }
    }

    if(todayDate >= sDate && todayDate <= eDate)
    {
        displayVideo = true;
    }
    else { displayVideo = false; }


}


<div id="@cssId" class="bs @cssClasses container container-fluid">
    <style type="text/css" scoped>
                    @Html.Raw(cssStyles)
    </style>
    @if (displayVideo)
    {
        @Html.Raw(Model.VimeoEmbedCode)
    }

    @if (displayPreMessage)
    {
        <div class="alert alert-warning displayPreMessage">@Html.Raw(Model.BeforeMessage)</div>
    }
    @if (displayPostMessage)
    {
        <div class="alert alert-warning displayPostMessage">@Html.Raw(Model.AfterMessage)</div>
    }
   
</div>
<style>
    .displayPreMessage, .displayPostMessage{
        margin-left: -20px;
    }
</style>
