@model Catfish.Core.Models.CFCollection
@using Catfish.Areas.Manager.Models.ViewModels

@{  ViewBag.Title = Model.Id > 0 ? "Edit Collection" : "Create Collection"; }

@section HEAD
{
    <script type="text/javascript" src="~/Scripts/knockout-3.1.0.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout.mapping-latest.js"></script>
    <script type="text/javascript" src="~/Scripts/perpetuum.knockout.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/Css/catfish.css">
    <script type="text/javascript" src="~/Scripts/richtext.js"></script>

    @* Code used to turn praragraph fields into rich text fields. *@
    <script type="text/javascript" src="~/res.ashx/areas/manager/content/js/ext/tiny_mce/tinymce.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            @if (File.Exists(Server.MapPath("~/areas/manager/content/css/editor.css"))) {
                <text>var cssPath = "@Url.Content("~/areas/manager/content/css/editor.css")";</text>
            }
            else
            {
                <text>var cssPath = null;</text>
            }

            convertToRichTextSwapper(".rich-text-transform textarea", cssPath);
        });
    </script>
}

@section Toolbar {
    @if (ViewBag.SelectEntityViewModel != null)
    {
        @Html.Partial("Partial/koEditToolbar")
    }
    else
    {

        @Html.Partial("Partial/EditToolbar", Model, new ViewDataDictionary() { { "entityTypeId", Model.EntityTypeId } })
    }
}
@if (ViewBag.ReadOnly != null && ((bool)ViewBag.ReadOnly == true))
{
    <div class="alert alert-warning alert-dismissible grid_12">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        You do not have permission to edit this item.
   </div>
}
<div class="grid_12">
    <div class="box">
       
        @if (ViewBag.SelectEntityViewModel != null)
        {
            @Html.Partial("Partial/SelectEntityType", ViewBag.SelectEntityViewModel as SelectEntityTypeViewModel, new ViewDataDictionary() { { "controller", "collections" } })
        }
        else
        {
            using (Html.BeginForm("Edit", "Collections", FormMethod.Post))
            {
                @Html.Partial("Partial/EditEntity")
                <label>
                @Html.CheckBoxFor(m=>m.IsSystemCollection)Is System Collection            
                </label>
            }
        }
    </div>
</div>
<script>
    {
       let isReadOnly = '@ViewBag.ReadOnly';

       if(isReadOnly === 'True')
       {
          $("#toolbar_save_button").attr("disabled", "disabled");
          //'greyed' out the button
          $("li#save-btn").addClass("disabledToolbarButton");
          $('#toolbar_save_button').off('click');
          $('#toolbar_save_button').on("click", function(event){
                if ($(this).is("[disabled]")) {
                            event.preventDefault();
                    }
            });
        }
        else{
             $("li#save-btn").removeClass("disabledToolbarButton");
        }
    }
</script>
