@model Catfish.Core.Models.Contents.MultilingualValue

@{
    var isMultiline = ViewData["multiline"] != null && (bool)ViewData["multiline"];
}
@for (int i = 0; i < Model.Values.Count; ++i)
{
    if (Model.Values.Count > 0)
    {
        @Html.Raw("<div>")
    }

    if (Model.Values.Count > 1)
    {
        @Html.Label(Model.Values[i].Language)<span>: </span>
    }

    if (isMultiline)
    {
        string[] paragraphs = Model.Values[i].Value.Split(new char[] { '\r', '\n' }, StringSplitOptions.RemoveEmptyEntries);
        foreach (var para in paragraphs)
        {
            <p>@Html.Raw(para)</p>
        }
    }
    else
    {
        @Html.Raw(Model.Values[i].Value);
    }

    if (Model.Values.Count > 0)
    {
        @Html.Raw("</div>")
    }

}
