@model Catfish.Areas.Manager.Models.ViewModels.EntityTypeViewModel
@using PerpetuumSoft.Knockout
@using Catfish.Areas.Manager.Models.ViewModels

@{  ViewBag.Title = Model.Id > 0 ? "Edit Entity Type" : "Create Entity Type"; }

@section HEAD
{
    <script type="text/javascript" src="~/Scripts/knockout-3.1.0.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout.mapping-latest.js"></script>
    <script type="text/javascript" src="~/Scripts/perpetuum.knockout.js"></script>
}

@section Toolbar {
    @Html.Partial("Partial/koEditToolbar")
}

@{
    var context = "ctx_" + Guid.NewGuid().ToString("N");
    var ko = Html.CreateKnockoutContext(context);
}

<div id="@context">
    @using (ko.Html.Form("Save", "EntityTypes", null, new { id = context + "Form" }))
    {
        <div class="grid_12">
            <div class="box">
                <div class="title">
                    <h2>@Model.TypeLabel</h2>
                    <div class="bs right">
                        <span @ko.Bind.Visible(m => m.Status == KoBaseViewModel.eStatus.Success) style="display: none;" class="alert alert-success">Success!</span>
                        <span @ko.Bind.Visible(m => m.Status == KoBaseViewModel.eStatus.Error) style="display: none;" class="alert alert-danger">Error!</span>
                        @ko.Html.Button("Save", "Save", "Metadata")
                    </div>
                </div>
                <div class="inner">
                    <ul class="form form-custom">
                        <li>
                            <label class="control-label col-md-2">Name</label>
                            <div class="input">@ko.Html.TextBox(m => m.Name)</div>
                        </li>
                        <li>
                            <label class="control-label col-md-2">Description</label>
                            <div class="input">@ko.Html.TextArea(m => m.Description)</div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    }

</div>

    @ko.Apply(Model, context)
