@model Catfish.Core.Models.Contents.ViewModels.ListEntries.EntityTemplateListEntry
@inject Microsoft.AspNetCore.Authorization.IAuthorizationService Auth
@inject Piranha.Manager.ManagerLocalizer Localizer
@using Catfish.Core.Models;
@{
    var id = Model.Id;
    var modelType = Model.ModelType;
    string workflowTemplateDetailsPage = "/manager/workflow/templates/" + Model.Id;
    string xmlDetailsPage = "/manager/schema/" + Model.Id;
    string xmlEditorPage = "/manager/schema/edit/" + Model.Id;
    string entityTypeEditorPage = "/manager/itemtemplates/edit/?pid=" + Model.Id;
}
<li class="dd-item expanded">
    <div class="sitemap-item">
        <div class="handle dd-handle">
            <i class="fas fa-ellipsis-v"></i>
        </div>
        <div class="container">
            <div class="row">
                <div class=" col-md-8">
                    <a href="@workflowTemplateDetailsPage">@Model.TypeName</a>
                </div>
                <div class=" col-md-4 text-right">
                    @*<a href="~/item-template-editor?pid=@Model.Id">Edit Template</a> |*@
                    <a href="@entityTypeEditorPage">Edit Template</a> |
                    <a href="@xmlDetailsPage">View XML</a> |
                    <a href="@xmlEditorPage">Edit XML</a>
                </div>
            </div>
        </div>
    </div>
</li>
