@model Catfish.Areas.Manager.Pages.FieldContainerPageModel
@inject Piranha.Manager.ManagerLocalizer Localizer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div id="edit-field-form-page">
    <div class="top">
        <div class="container-fluid top">
            <div class="left-nav-container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Localizer.Menu["Templates"]</li>
                        <li class="breadcrumb-item">@Localizer.Menu[Model.ModelLabel]</li>
                        <li class="breadcrumb-item">@Localizer.Menu["Edit"]</li>
                        <li class="breadcrumb-item active" aria-current="page">@Localizer.Menu[Model.Model.Id.ToString()]</li>
                    </ol>
                </nav>
            </div>

            <div class="container-fluid collection-button-holder">
                <div class="top-nav"> SOME BUTTON
                    @*@foreach (var action in Catfish.Areas.Manager.Actions.Toolbars.FormList)
                    {
                        <partial name="@action.ActionView" />
                    }*@
                </div>
            </div>
        </div>
    </div>

    @{ var url = Model.ApiRoot + Model.Model.Id.ToString();}
    <a href="@url" target="_blank">See JSON Object</a>

    <form v-if="finishedGET">
        <label for="form-title">Title</label>
        <div v-for="(name, index) of names.values">
        <input type="text" class="form-title" :value="name.value" 
            :id="'form-title-' + index" placeholder="Title Your Form Here" />
        </div>
        
        <button>+</button>

        <label for="form-description">Description</label>
        <div v-for="(description, index) of descriptions.values">
            <textarea type="text" class="form-description" :id="'form-description-' + index"
            placeholder="Description goes here">
            {{description.value}}
            </textarea>
        </div>
        <button>+</button>

    </form>
    <div v-else>Put loading something or other here</div>

</div>