@model Catfish.Areas.Manager.Models.ViewModels.EntityGroupViewModel
@using PerpetuumSoft.Knockout
@{ 
    ViewBag.Title = String.IsNullOrEmpty(Model.EntityGroupName) ? "Create Entity Group" : "Edit Entity Group";
    var context = "ctx_" + Guid.NewGuid().ToString("N");
    var ko = Html.CreateKnockoutContext(context);
}

@section HEAD
{
   <script src="~/Scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/knockout-3.1.0.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout.mapping-latest.js"></script>
    <script type="text/javascript" src="~/Scripts/perpetuum.knockout.js"></script>   
    <link type="text/css" rel="stylesheet" href="~/content/jquery-ui.min.css" />
}



<div id="@context">

    @using (ko.Html.Form("Edit", "EntityGroups", null, new { id = context + "Form" }))
    {
        @Html.AntiForgeryToken()
        @ko.Html.Hidden(Model.Id)
      <ul >
        <li class="form form-custom">
            <label class="control-label col-md-2">Entity Group</label>
            <div class="input">@ko.Html.TextBox(m => m.EntityGroupName, new { @required = "required" })</div>
        </li>

        <li class="form form-custom" >
            <label class="control-label col-md-2">Login Name: </label>
            <div class="inner">
                <div  class="input" style="width:500px !important">
                 @ko.Html.TextBox(m => m.userName, new { @id = "usrName", @style= "width:413px !important;" }).ValueUpdate(KnockoutValueUpdateKind.AfterKeyDown)
                 @ko.Html.Button("Add User", "AddUser", "EntityGroups", null, new { @class = "btn", @id = "addUser" })@*.Enable(m => m.userName.Length > 0)*@
                </div>
            </div>
        </li>
          <li @*ko.Bind.Visible(m => m.SelectedUsers.Count > 0)*@ class="form form-custom">
              <label class="control-label col-md-2">Selected Users: </label>
              <div class="inner">
                  <div class="input" style="width:500px !important">
                     @*@ko.Html.ListBox(m => m.SelectedUsers, new { width = 100, size = 10, @style = "width:413px !important;" }, m => m.Login).SelectedOptions(m => m.UsersToRemove)*@
                      @ko.Html.ListBox(m => m.SelectedUsers, new { width = 100, size = 10, @style = "width:413px !important;" }).SelectedOptions(m => m.UsersToRemove)
                      @ko.Html.Button("Remove", "RemoveSelected", "EntityGroups", null, new { @class = "btn btn-info" }) @*.Enable(m => m.UsersToRemove.Count > 0)*@

                  </div>
              </div>
          </li>
       
        <li class="form form-custom">
            @ko.Html.Button("Save", "Edit", "EntityGroups", null, new { @class = "btn btn-info", @style = "float:right" })@*.Enable(m => m.EntityGroupName.Length > 0)*@
        </li>
     </ul>

    }
</div>

@ko.Apply(Model, context)

<script>

    $(function(){
       var allAvailableUsers =@Html.Raw(Json.Encode(ViewBag.SugestedNames));

       $("#usrName").autocomplete({
          source: allAvailableUsers
         });
    });

</script>