@model Catfish.Models.Blocks.AdvanceSearchBlock
@using Catfish.Core.Models.Solr;
@using Catfish.Core.Models.Contents.Fields;

@inject Catfish.Services.IEntityTemplateService _entityTemplateService;

@{
    var entityTemplateId = Guid.Parse(Model.SelectedItemTemplate);
    var metadatasetId = Guid.Parse(Model.SelectedMetadataset);

    var fields = _entityTemplateService.GetTemplateMetadataSetFields(entityTemplateId, metadatasetId).ToArray();
    Array.Sort(fields, delegate (BaseField x, BaseField y) { return x.GetName().CompareTo(y.GetName()); });

    string renderingType = Model.SelectedRenderingType.Value;
}
<script>
    var moreFieldList = ["Creator/Contributors", "Publisher", "Language",
        "Type", "Format", "Extent", "Thematic areas", "subject-English",
        "Genre/Form", "Medium of Performance", "Coverage (Spatial)",
        "Source Collection", "Source Collection ID", "Related records", "Rights/Access Statement"];
</script>

<div class="container container-fluid advanced-search">
    <h2>Search</h2>
    <div class="row">
        <div class="col-md-12 container">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="row search-mode">
                    <input type="radio" class="searchMode" name="searchMode" value="simple" checked
                           onclick="$('#simpleSearch').show(); $('#advancedSearch').hide();"
                           onchange="$('.searchResults').hide()"/> 
                    <span class="searchMode">Simple</span>

                    <input type="radio" class="searchMode" name="searchMode" value="advanced" 
                           onclick="$('#simpleSearch').hide(); $('#advancedSearch').show();"
                           onchange="$('.searchResults').hide()"/>
                    <span class="searchMode">Advanced</span>
                </div>
                <div class="row col-md-12" id="simpleSearch">
                    <input type="text" class="form-control" id="simpleSearchTerm" />
                </div>
                <div class="row" id="advancedSearch" style="display:none">
                    @foreach (var f in fields)
                    {
                        Catfish.Core.Models.Contents.Fields.TextField field = (f as Catfish.Core.Models.Contents.Fields.TextField);
                        <div class="item col-md-3 search-field">

                            <label>@field.Name.ConcatenatedContent</label>
                            <input type="text"
                                   class="form-control advanceSearchInput"
                                   id="@field.Id" />
                            @*<input type="text"
                        class="form-control advanceSearchInput"
                        id="@field.Id"
                        placeholder="@field.Name.ConcatenatedContent"
                        data-toggle="tooltip"
                        title="@field.Name.ConcatenatedContent" />*@
                        </div>
                    }
                </div>
                <div class="row search-controls col-md-12">
                    <div style="display:none">
                        <label>Scope</label>
                        <select class="form-control" id="advanceSearchScope">
                            <option value="@SearchFieldConstraint.eScope.Data">Data</option>
                            <option value="@SearchFieldConstraint.eScope.Metadata" selected>Metadataset</option>
                        </select>
                    </div>
                    <div>
                        <label>Item per Page</label>
                        <input type="text" id="advanceSearchItemPerPage" placeholder="25" style="width:50px;margin-right:25px;" />
                        <input type="submit" id="advanceSearchSubmitBtn" value="Search" onclick=" advanceSearch('@metadatasetId', 'advanceSearchScope', 'advanceSearchInput', 0, '@renderingType'); return false;" />
                    </div>
                </div>
            }
        </div>
        <div class="searchResults" style="display:none">
            <h3>Results</h3>
           <input type="hidden" id="maxWords" value="@Model.MaxWords.Value" />
            
            <div class="pageLinks">
                <input type="hidden" id="previousPageOffset" value="0" />
                <input type="hidden" id="nextPageOffset" value="25" />
                <input id="prevPageBtn" type="submit" value="<< Previous" onclick=" advanceSearch('@metadatasetId', 'advanceSearchScope', 'advanceSearchInput', $('#previousPageOffset').val(), '@renderingType'); return false;" />
                <label id="currentPageInfo" style="width:250px; text-align:center"></label>
                <input id="nextPageBtn" type="submit" value="Next >>" onclick=" advanceSearch('@metadatasetId', 'advanceSearchScope', 'advanceSearchInput', $('#nextPageOffset').val(),'@renderingType'); return false;" />
                
                <span style="margin-left:100px;">
                    <label>Row Height: </label> 
                    <input type="number" id="max-row-height" value="10" style="width:75px;" onchange="resizeRowHeight($(this).val());" />
                </span>
            </div>

           @*TODO: 
               If the "result format" is set to t"table" in the block's settings, then show the following table skeleton.
               Otherwise, if it is set to "Slip", show the basic encloure for a list of slips
               Show the following table if the "result format" is set to "table" in the block's settings.
               Please also pass on the result-rendering type to the search function.
           *@
            @if (renderingType.Equals("Tabular"))
            {
                <table class="table" id="tabularRendering">
                    <thead>
                        <tr>
                            @for (int i = 0; i < fields.Length; ++i)
                            {
                                <th scope="col" id="@fields[i].Id" data-col="@i">@fields[i].Name.ConcatenatedContent</th>
                            }



                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            }
            else
            {
                @*Creating a slip template.*@
                @*TODO specify the field IDs in the block configuration*@
                // resounding culture -- prod server 
                @* var titleFieldId =   "293dc836-901f-421a-9e02-64f333086db9";
                    var descriptionFieldId = "567dd7ae-2c58-4791-8800-d4312a91c912";
                    var keywordFieldId = "77383740-4080-4570-b35e-3bde57580da5";*@

            //local test
                var titleFieldId = Model.SelectedTitleFieldId.Value; //  "d2fc4a65-84d9-47c3-800e-cf2cce27303d";
                var descriptionFieldId = Model.SelectedBodyFieldId.Value; //"1fa5da8c-7995-4c6e-afc3-476b2ab2e1ca";
                var keywordFieldId = Model.SelectedFooterFieldId.Value; //"dce5c801-77e8-4f7e-a6f7-70beeb5a8d85";
                var subTitleId1 = Model.SelectedFirstSubTitleFieldId.Value;
                 var subTitleId2 = Model.SelectedSecondSubTitleFieldId.Value;
                var titleLinkId = Model.SelectedUrlFieldId.Value;
                var thumbnailFieldId = Model.SelectedThumbnailFieldId.Value; //not yet specified in the schema

                @*Hidden Slip Template*@
                <div id='slipTemplate' class='slipEntry' style='display:none'>
                    <a href="#" data-field-link="@titleLinkId"><h3 class="title" data-field-id="@titleFieldId"></h3></a>
                    <div class="subTitle"><span data-field-id="@subTitleId1"></span> <span> - </span> <span data-field-id="@subTitleId2"></span></div>
                    <div class="row entryContentContainer">
                        <div class="col-md-10 entryContent">
                            <div class="entryDescription" data-field-id="@descriptionFieldId">

                            </div>
                            <div class="entryDetailLink"><a href="#" data-details-view-link><b>More</b></a></div>
                            <div data-details></div>
                            <div class="entryTags"><b>Tags:</b> <span data-field-id="@keywordFieldId" data-val-separator=","></span></div>
                        </div>
                        <div class="col-md-2 entryImg" data-field-id="@thumbnailFieldId" data-thumbnail="true"></div>
                    </div>
                </div>

                <div id="slipRendering"></div>
            }
        </div>
    </div>
</div>

