@model Catfish.Models.Blocks.AdvanceSearchBlock
@using Catfish.Core.Models.Solr;
@using Catfish.Core.Models.Contents.Fields;

@inject Catfish.Services.IEntityTemplateService _entityTemplateService;

@{
    var entityTemplateId = Guid.Parse(Model.SelectedItemTemplate);
    var metadatasetId = Guid.Parse(Model.SelectedMetadataset);

    var fields = _entityTemplateService.GetTemplateMetadataSetFields(entityTemplateId, metadatasetId).ToArray();
    Array.Sort(fields, delegate (BaseField x, BaseField y) { return x.GetName().CompareTo(y.GetName()); });
}

<div class="container container-fluid advanced-search">
    <h2>Advance Search</h2>
    <div class="row">
        <div class="col-md-12 container">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    @foreach (var f in fields)
                    {
                        Catfish.Core.Models.Contents.Fields.TextField field = (f as Catfish.Core.Models.Contents.Fields.TextField);
                        <div class="item col-md-3 search-field">

                            @*<label>@field.Name.ConcatenatedContent</label>*@
                            <input type="text"
                                   class="form-control advanceSearchInput"
                                   id="@field.Id"
                                   placeholder="@field.Name.ConcatenatedContent"
                                   data-toggle="tooltip"
                                   title="@field.Name.ConcatenatedContent" />
                            @*<input type="text" class="form-control advanceSearchInput" id="@field.Id" />*@
                        </div>
                    }
                </div>
                <div class="row">
                    <div style="display:none">
                        <label>Scope</label>
                        <select class="form-control" id="advanceSearchScope">
                            <option value="@SearchFieldConstraint.eScope.Data">Data</option>
                            <option value="@SearchFieldConstraint.eScope.Metadata" selected>Metadataset</option>
                        </select>
                    </div>
                    <div>
                        <label>Item per Page</label>
                        <input type="text" id="advanceSearchItemPerPage" placeholder="25" style="width:50px;margin-right:25px;" />
                        <input type="submit" value="Search" onclick=" advanceSearch('@metadatasetId', 'advanceSearchScope', 'advanceSearchInput'); return false;" />
                    </div>
                </div>
            }
        </div>
        <div class="col-7 searchResults">

        </div>
    </div>
</div>

