@model Catfish.Models.Blocks.CalendarBlock
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Calendar Block";
}

@{

    List<Catfish.Models.Blocks.CalendarEvent> CalendarEventList = Model.GetCalendarEvents();
    bool showSummary = true;
    bool showDescription = true;
    bool showLocation = true;

    var jsonData = JsonConvert.SerializeObject(Model);
    var googleCalendarData = JsonConvert.SerializeObject(CalendarEventList);

    Dictionary<DateTime, int> datesDict = new Dictionary<DateTime, int>();
    //create list of dates to mark as events
    foreach (var calendarEvent in CalendarEventList)
    {
        //need to be able to catch multiple dates and also watch out for different months/years
        //multiple events can ocur on the same date in this case since this is just to show on the calendar that there is something happening at all
                datesDict.Add( calendarEvent.StartDateTime,
            Math.Abs((calendarEvent.StartDateTime.Date - calendarEvent.EndDateTime.Date).Days) );
    }
    //THIS WONT WORK ITS A DICT DOESNT CONVERT TO JSON var datesDictJson = JsonConvert.SerializeObject(datesDict);

}


<div class="container container-fluid google-calendar-panel calendar-events calendar-default">

    @if (Model.DisplayCalendarUI.Value != null && Model.DisplayCalendarUI.Value)
    {
        <calendar-block-vue v-bind:model='@Html.Raw(jsonData)' :googlecalendardata='@googleCalendarData' inline-template>
            <div class="calendar-container">
                    <div class="month-header-container">
                        <div class="clickable" v-on:click="goToPreviousMonth()"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
                        <div class="month-title-container">
                            <h3 class="clickable" v-on:click="goToPresentMonth()">{{selectedMonth.format("MMMM")}} {{selectedMonth.format("YYYY")}}</h3>
                        </div>
                        <div class="clickable" v-on:click="goToNextMonth()"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                    </div>
                    <div class="calendar-month-container">
                        <div class="calendar-weekday-container">
                            <div v-for="weekday in WEEKDAYS" class="weekday-label-container">
                                <div>{{weekday}}</div>
                            </div>

                        </div>
                        <div class="days-container">
                            <template v-for="(day, index) in days">
                                <div class="calendar-day" :class="{'day-not-current-month': !day.isCurrentMonth, 'today-is-the-day': day.date == today, 'event-day-color': day.hasEvent }">
                                    <div class="day-number">{{day.dayOfMonth}}</div>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
        </calendar-block-vue>
    }

    @if (CalendarEventList != null)
    {
        <h3 class="events-title">Events</h3>
        <hr />

        foreach (var calendarEvent in CalendarEventList)
        {
            <div class="row well calendar-event">

                <div class="col-md-10">
                    @if (showSummary && calendarEvent.Summary != null)
                    {
                        <div class="summary">
                            <h4>@calendarEvent.Summary</h4>
                        </div>
                    }

                    @if (showDescription && calendarEvent.Description != null)
                    {
                        <div class="description">@Html.Raw(calendarEvent.Description)</div>
                    }

                    @if (showLocation && calendarEvent.Location != null)
                    {
                        <div class="location">@calendarEvent.Location</div>
                    }
                </div>
                <div class="col-md-2 calendar-event-dates">
                    @if (calendarEvent.StartDateTime != null)
                    {

                        <div class="date-time date-time-start">
                            @calendarEvent.StartMonth @calendarEvent.StartDay @calendarEvent.StartYear
                            @*<div class="date-month">@calendarEvent.StartMonth</div>
                                <div class="date-day">@calendarEvent.StartDay</div>
                                <div class="date-year">@calendarEvent.StartYear</div>*@

                            @if (calendarEvent.StartTime != null)
                            {
                                <div class="date-hour">@calendarEvent.StartTime</div>
                            }

                        </div>
                    }



                    @*@if (calendarEvent.EndDateTime != null)
                        {
                            <div class="date-separator glyphicon glyphicon-chevron-right"> </div>
                            <div class="date-time date-time-end">
                                <div class="date-month">@calendarEvent.EndMonth</div>
                                <div class="date-day">@calendarEvent.EndDay</div>
                                <div class="date-year">@calendarEvent.EndYear</div>

                                @if (calendarEvent.EndTime != null)
                                {
                                    <div class="date-hour">@calendarEvent.EndTime</div>
                                }

                            </div>
                        }*@


                </div>
            </div>
        }
    }

</div>