@model Catfish.Models.Blocks.ControlledVocabularySearchBlock
@using Catfish.Services;

@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;

@using Catfish.Core.Models.Contents.Fields
@using Catfish.Core.Models.Solr;
@using Catfish.Core.Services.Solr;
@using Catfish.Pages;
@using System.Text.RegularExpressions;


@{
    //ViewBag.Title = Model.SearchPageName;

    string blockname = Model.SearchPageName.Value;
    string vocabcssclass = Model.VocabCss.Value;
    string checkboxlist = Model.SelectedKeywords.Value;
    string categorieslist = Model.SelectedCategories.Value;

    string[] words = checkboxlist == null ? new string[] { } : Regex.Split(checkboxlist, "[,\r\n]");
    string[] categories = categorieslist == null ? new string[] { } : Regex.Split(categorieslist, "[,\r\n]");
    int categoryIndex = 0;

    var Results = new List<SolrEntry>();

}
<link href="~/assets/css/controlledVocabularySearchBlock.css" rel="stylesheet" />




<div id="keywords-search-block-public" class="keywords-search-block @vocabcssclass">
    @if (!string.IsNullOrWhiteSpace(blockname))
    {
        <div class="block-title block-@blockname">@blockname</div>
    }

    <form id="controlledVocabularySearchForm" method="post" action="/api/search/keywords">

        <div class="container">
            <fieldset class="checkboxgroup">
                <div class="row">
                    @foreach (var word in words)
                    {
                        if (!String.IsNullOrWhiteSpace(@word))
                        {
                            <div class="col-md-4 keyword-checkbox">
                                <input class="search-filter" type="checkbox" id="@word" name="searchterm" value="@word" /> @word<br>
                            </div>
                        }

                    }
                </div>
            </fieldset>
            <div class="categories-section">
            @foreach (var category in categories)
			{
                if (!String.IsNullOrWhiteSpace(@category))
                {
                    <button value="@(category)" id="@("category-" + categoryIndex)" type="button" class="category-button btn btn-light">@category</button>
				}
				else
				{
                    <button value="*" id="category-default" type="button" class="category-default-button btn btn-light">Search</button>
				}
                categoryIndex++;
			}
            </div>
        </div>
        <!--<button id="ControlledVocabularySearchButton" type="submit" value="*" class="category-default-button btn btn-primary">
            Submit
        </button>-->

    </form>
</div>

<div id="controlledVocabularySearchResults">
</div>



<script>

</script>

