@model Catfish.Core.Models.Contents.Fields.OptionsField

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{

    Guid templateId = Guid.Parse(ViewData["data-template-id"].ToString());

    Guid dataItemId = ViewData.Keys.Contains("data-dataItem-id") && ViewData["data-dataItem-id"] != null
        ? Guid.Parse(ViewData["data-dataItem-id"].ToString())
        : Guid.Empty;

    Guid metadataSetId = ViewData.Keys.Contains("metadata-set-id") && ViewData["metadata-set-id"] != null
        ? Guid.Parse(ViewData["metadata-set-id"].ToString())
        : Guid.Empty;


    Guid fieldId = ViewData.Keys.Contains("data-field-id") && ViewData["data-field-id"] != null
        ? Guid.Parse(ViewData["data-field-id"].ToString())
        : Guid.Empty;
}


    <partial name="Partial/DataItemFields/_BaseField" model="Model" />
    <td>
        @foreach (var opt in Model.Options)
        {

            <div id="@opt.Id" class="option-value">
                <i class="far fa-trash-alt float-right" onclick="removeOptionVal('@templateId', '@dataItemId', '@Model.Id', '@opt.Id', '@opt.OptionText.ConcatenatedContent');" id="btnEdit_@opt.Id"></i>
                @for (int i = 0; i < opt.OptionText.Values.Count; ++i)
                {
                    var txt = opt.OptionText.Values[i];
                    <partial name="Partial/DataItemFields/_Text" model="txt" />
                    if (i < opt.OptionText.Values.Count - 1)
                    {
                        <span>|</span>
                    }
                }
            </div>
        }
        @{ Guid newOptId = Guid.NewGuid(); }
        <div id="newOptionVal_@newOptId" class="new-option-value">
            <!--Show the save and cancel buttons here. -->
            <i class="fa fa-plus-square float-right" onclick="addNewOptionValue('@newOptId');" id="btnAddOption_@newOptId"></i>
            <i class="far fa-window-close float-right" style="display:none" onclick="cancelAddOption('@newOptId');" id="btnCancel_@newOptId"></i>
            <i class="far fa-save float-right" style="display:none" onclick="saveOptionVal('@templateId','@dataItemId','@Model.Id','@newOptId');" id="btnSave_@newOptId"></i>
            <div style="display: none" class="addOptionText">
                <input id="input_@newOptId" type="text" />
                <select name="lang" class="btn btn-default" id="select_@newOptId">
                    <option value="en" selected="selected">English</option>
                </select>
            </div>

        </div>
    </td>