@page "~/data/edit/{id:Guid?}"
@model Catfish.Pages.EditDataItemModel
@using Catfish.Core.Models.Contents.Fields;

@section head
{
    <script type="text/javascript" src="@Url.Content("~/assets/js/form.js")"></script>
}

@{
    ViewData["Title"] = "EditDataItem";
}

<h1>Edit Data Item</h1>

<form method="post">
    <div class="container">
        @for (int i = 0; i < Model.Item.Fields.Count; ++i)
        {
            <div class="row">

                @if (typeof(InfoSection).IsAssignableFrom(Model.Item.Fields[i].GetType()))
                {
                    @Html.EditorFor(model => model.Item.Fields[i], Model.Item.Fields[i].GetType().ToString(), null, null)
                }
                else
                {
                    string multiple = @Model.Item.Fields[i].AllowMultipleValues ? "multiple" : "";


                    <div class="col-md-3 control field-label">
                        @Html.DisplayFor(model => Model.Item.Fields[i].Name, Model.Item.Fields[i].Name.GetType().ToString())
                    </div>

                    <div class="col-md-9 @Model.Item.Fields[i].CssClass field-value @multiple">
                        @Html.EditorFor(model => Model.Item.Fields[i], Model.Item.Fields[i].GetType().ToString())
                    </div>

                    if (Model.Item.Fields[i].AllowMultipleValues)
                    {
                        <div><button onclick="addValue('@Html.IdFor(model => Model.Item.Fields[i])'); return false;">Click me</button></div>
                    }
                }
            </div>
        }
    </div>
</form>

