@page "~/data/edit/{id:Guid?}"
@model Catfish.Pages.EditDataItemModel
@using Catfish.Core.Models.Contents.Fields;

@section head
{
    <script type="text/javascript" src="@Url.Content("~/assets/js/form.js")"></script>
}

@{
    ViewData["Title"] = "EditDataItem";
}

<h1>Edit Data Item</h1>
<h3>@Model.DataItem.Id</h3>
<h3>@Model.DataItem.Name.GetConcatenatedContent("")</h3>
<form method="post">
    @Html.HiddenFor(model => model.DataItem.Id)
    @Html.EditorFor(model => model.DataItem.TestField)
    @for(int i=0; i<Model.DataItem.Name.Values.Count; ++i)
    {
        @Html.HiddenFor(model => model.DataItem.Name.Values[i].Value)
    }

    <div class="container">
        @for (int i = 0; i < Model.DataItem.Fields.Count; ++i)
        {
            <div class="row field-row">

                @if (typeof(InfoSection).IsAssignableFrom(Model.DataItem.Fields[i].GetType()))
                {
                    @Html.EditorFor(model => model.DataItem.Fields[i], Model.DataItem.Fields[i].GetType().ToString(), null, null)
                }
                else
                {
                    string fieldId = Html.IdFor(model => Model.DataItem.Fields[i]);

                    <div class="col-md-3 control field-label">
                        @Html.DisplayFor(model => Model.DataItem.Fields[i].Name, Model.DataItem.Fields[i].Name.GetType().ToString())
                    </div>

                    <div id="@fieldId" class="col-md-9 @Model.DataItem.Fields[i].CssClass field-value">
                        @Html.EditorFor(model => Model.DataItem.Fields[i], Model.DataItem.Fields[i].GetType().ToString())

                        @if (Model.DataItem.Fields[i].AllowMultipleValues)
                        {
                            <button type="button" class="btn btn-success btn-xs btn-add-value" onclick="addValue('@fieldId'); return false;">+</button>
                        }
                    </div>
                }
            </div>
        }

        <div class="row field-row">
            <input type="submit" value="Submit" />
        </div>
    </div>
</form>

