@page
@model Catfish.Pages.ResetPasswordPageModel

@{

    ViewBag.Title = "Reset Password";
    Layout = "..\\Views\\Shared\\_Layout";
}



<div class="container">
    <h3>Reset Password</h3>
    <div class="alert alert-warning">Please only use this page to reset your local account password, not your Google account!</div>
    <form method="post">

        <div class=" col-md-6 form-group">
            <label>Email: &nbsp;</label>
            @Html.TextBoxFor(m => m.Email, null, new { @class = "form-control", @placeholder = "email address", @type = "email" })

        </div>
        <div class="col-md-6 form-group">
            <label>Current Password: &nbsp;</label>
            @Html.TextBoxFor(m => m.CurrentPassword, null, new { @class = "form-control ", @placeholder = "Current Password", @type = "password" })
        </div>
        <div class="col-md-6 form-group">
            <label>Password: &nbsp;</label>
            @Html.TextBoxFor(m => m.NewPassword, null, new { @class = "form-control", @placeholder = "New Password", @type = "password" })
        </div>
        <div class=" col-md-6 form-group">
            <label>Confirmed Password: &nbsp;</label>
            @Html.TextBoxFor(m => m.ConfirmPassword, null, new { @class = "form-control ", @placeholder = "Confirmed Password", @type = "password" })
        </div>
        <input type="submit" name="resetPassBtn" value="Reset Password" class="btn btn-primary" style="margin-bottom:20px;" />
    </form>

    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert alert-danger">
            @Model.ErrorMessage
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.SuccessMeesage))
    {
        <div class="alert alert-success">
            @Model.SuccessMeesage
        </div>
    }
</div>

