@page
@model Catfish.Pages.SearchModel

<h1>Search</h1>

<!-- TODO: Make the following a search form -->
<form method="post">
    @Html.TextBoxFor(m => m.SearchTerm)
    <input type="submit" value="Submit" />

</form>
<ul>
    @{
        foreach (var entry in Model.Results)
        {
            <li>Entity GUID : @entry.Id</li>
            foreach (var metadataset in entry.MetadataSets)
            {
                <li>&nbsp; &nbsp; MetadataSet GUID : @metadataset.Id</li>
                foreach (var fields in metadataset.Fields)
                {
                    <li>&nbsp; &nbsp; &nbsp; &nbsp; Field GUID : @fields.Id</li>
                    if (typeof(Catfish.Core.Models.Contents.Fields.TextField).IsAssignableFrom(fields.GetType()))
                    {
                        foreach (var textfield in (fields as Catfish.Core.Models.Contents.Fields.TextField).Values)
                        {
                            foreach (var txt in textfield.Values)
                            {
                                <li>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Language : @txt.Language</li>
                                <li>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Value : @txt.Value</li>
                            }
                        }
                    }
                }
            }
            @Html.Raw("\n")
        }
    }
</ul>
