@page
@model Catfish.Pages.SearchModel
@using Catfish.Core.Models.Contents.Fields
<h1>Search</h1>

<!-- TODO: Make the following a search form -->
<form method="post">
    @Html.TextBoxFor(m => m.SearchTerm)
    <input type="submit" value="Submit" />
</form>
<ul>
    @{
        foreach (var entry in Model.Results)
        {
        <li>
            @foreach (var title in entry.Title)
            {
                <div><b>@Html.Raw(title)</b></div>
            }

            <div>Object ID: @entry.Id</div>
            <div>Object Type: @entry.ObjectType</div>

            @foreach (var snippet in entry.Highlights)
            {
                <div>@Html.Raw(snippet)</div>
            }
        </li>
        }
    }
</ul>
