@page "/templates/edit/{id:Guid}"

@model Catfish.Pages.TemplateEditModel

<div class="app main">
    <div class="container">
        <h2>@Model.TemplateName</h2>

        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <div class="alert @Model.MessageClass">@Html.Raw(Model.Message.Replace("\n", "<br />"))</div>
        }

        <form method="post">
            @Html.HiddenFor(model => model.TemplateId)
            <div class="row">
                <div class="col-md-12 control field-label">
                    Template Name
                </div>
                <div class="col-md-12 field-value">
                    <input id="TemplateName" name="TemplateName" type="text" value="@Model.TemplateName" class="text-box single-line col-md-12">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12 control field-label">
                    Template
                </div>
                <div class="col-md-12 control field-value">
                    @{ int rows = Model.TemplateContent.Length < 25000 ? 5 : Model.TemplateContent.Length / 500;}
                    <textarea rows="@rows" class="col-md-12" name="TemplateContent">@Html.Raw(Model.TemplateContent)</textarea>
                </div>
            </div>
            <div>
                <input type="submit" class="btn btn-success" value="Submit" />
            </div>
        </form>
    </div>
</div>