@model Catfish.Core.Models.Contents.MultilingualValue

<div class="multilingual-input-block">
    @Html.HiddenFor(model => model.ModelType)
    @Html.HiddenFor(model => model.Id)

    @{
        var isMultiline = ViewData["multiline"] != null && (bool)ViewData["multiline"];
    }
    @for (int i = 0; i < Model.Values.Count; ++i)
    {
        @Html.HiddenFor(model => model.Values[i].Language)
        @Html.HiddenFor(model => model.Values[i].Id)
        if (Model.Values.Count > 1)
        {
            @Html.Label(Model.Values[i].Language)<span>: </span>
        }

        if (isMultiline)
        {
            @Html.TextAreaFor(model => model.Values[i].Value, ViewData)

            @*if (required)
                {
                    @Html.TextAreaFor(model => model.Values[i].Value, new { required = "required" })
                }
                else
                {
                    @Html.TextAreaFor(model => model.Values[i].Value)
                }*@
        }
        else
        {
            @Html.TextBoxFor(model => model.Values[i].Value, ViewData)
            @*if (required)
                {
                    @Html.TextBoxFor(model => model.Values[i].Value, new { required = "required" })
                }
                else
                {
                    @Html.TextBoxFor(model => model.Values[i].Value)
                }*@
        }
    }
</div>