@model Catfish.Core.Models.Contents.Data.DataItem
@using Catfish.Core.Models.Contents.Fields;
@using Catfish.Helper;

@inject Catfish.Helper.ICatfishAppConfiguration _catfishAppConfig;
@inject Catfish.Services.IAppService _appService;

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.EntityId)
@Html.HiddenFor(model => model.TemplateId)
@Html.HiddenFor(model => model.ModelType)

@{
    bool useVueForms = _catfishAppConfig.GetValue("SiteConfig:UseVueForms", false);
    if (!useVueForms)
    {
        _appService.RegisterScript("/assets/js/_public-facing/scripts/expression-functions.js");
        _appService.RegisterOnLoadFunction("updateFields();");
    }

    for (int i = 0; i < Model.Fields.Count; ++i)
    {
        var fieldRootId = Html.IdFor(model => Model.Fields[i]) + "_row";
        <div class="row field-row @Model.Fields[i].FieldCssClass" id="@fieldRootId">
            @if (typeof(InfoSection).IsAssignableFrom(Model.Fields[i].GetType()))
            {
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Fields[i], Model.Fields[i].GetType().ToString())
                </div>
            }
            else
            {
                Dictionary<string, object> viewData = FieldRenderingHelper.CreateViewData(Model.Fields[i], fieldRootId);
                viewData.Add("data-field-index", i);
                string fieldId = Html.IdFor(model => Model.Fields[i]);

                <div class="control field-label @Model.Fields[i].FieldLabelCssClass">
                    @Html.DisplayFor(model => Model.Fields[i].Name, Model.Fields[i].Name.GetType().ToString())
                    @if (Model.Fields[i].Required)
                    {
                        <span class="required"></span>
                        viewData.Add("data-msg-required", "This field is required");
                    }
                    else
                    {
                        <span class="required" style="display:none"></span>
                    }
                </div>
                <div id="@fieldId" class="field-value @Model.Fields[i].CssClass @Model.Fields[i].FieldValueCssClass">
                    @Html.DisplayFor(mode => Model.Fields[i].Description, Model.Fields[i].Description.GetType().ToString())
                    @Html.EditorFor(model => model.Fields[i], Model.Fields[i].GetType().ToString(), viewData)
                </div>
            }
        </div>
    }
}