@model Catfish.Core.Models.Contents.Fields.AttachmentField
@using Catfish.Core.Models.Contents

@{
    var fieldId = Html.IdFor(model => model);
    var fieldName = Html.NameFor(model => model);

    var containerId = fieldId + "_container";

    var btnId = fieldId + "_btn";
    var btnName = fieldName + "_btn";

    var fileModelType = typeof(FileReference).AssemblyQualifiedName;
}

@*<div id="@containerId">*@
@Html.HiddenFor(model => model.ModelType)
@Html.HiddenFor(model => model.Id)

@Html.EditorFor(m => m.Files)

<div class="file-container row">
    @Html.DisplayFor(m => m.Files)
</div>

<input type="file" id="@btnId" name="@btnName" onchange="uploadFiles(this, '@fieldId', '@fieldName', '@fileModelType');" multiple />

<div class="message-block"></div>
@*</div>*@
