@model Catfish.Core.Models.Contents.Fields.TableField
@using Catfish.Helper;

@Html.HiddenFor(model => model.ModelType)
@Html.HiddenFor(model => model.Id)

<table class="table @Model.CssClass">
    <thead>
        <tr>
            @foreach (var cell in Model.TableHead.Fields)
            {
                <th>
                    @Html.Raw(cell.Name.ConcatenatedContent)

                    @if (cell.Required)
                    {<span class="required"></span>}
                    else
                    {<span class="required" style="display:none"></span>}

                </th>
            }
        </tr>
    </thead>
    <tbody>
        @for (var r = 0; r < Model.TableData.Count; ++r)
        {
            var row = Model.TableData[r];
            <tr>
                @for (var c = 0; c < row.Fields.Count; ++c)
                {
                    string fieldRootId = null;
                    Dictionary<string, object> viewData = FieldRenderingHelper.CreateViewData(Model.TableData[r].Fields[c], fieldRootId);

                    <td>
                        @Html.EditorFor(model => Model.TableData[r].Fields[c], Model.TableData[r].Fields[c].GetType().ToString(), viewData)
                    </td>
                }
            </tr>
        }

    </tbody>
</table>