@model Catfish.Core.Models.Contents.Fields.InfoSection

@Html.HiddenFor(model => model.ModelType)
@Html.HiddenFor(model => Model.Content.Id)

@if (Model.Exclude)
    return;

@for (int i = 0; i < Model.Content.Values.Count; ++i)
{
    @Html.HiddenFor(model => Model.Content.Values[i].Id)
    @Html.HiddenFor(model => Model.Content.Values[i].Value)
}
<div class="@Model.CssClass">
    @Html.Raw(Model.Content.ConcatenatedRichText)
</div>