@model Catfish.Core.Models.Contents.Data.DataItem
@using Catfish.Core.Models.Contents.Fields;

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.EntityId)
@Html.HiddenFor(model => model.TemplateId)

@for (int i = 0; i < Model.Fields.Count; ++i)
{
    <div class="row field-row @Model.Fields[i].FieldCssClass">
        @if (typeof(InfoSection).IsAssignableFrom(Model.Fields[i].GetType()))
        {
            <div class="col-md-12">
                @Html.DisplayFor(model => model.Fields[i], Model.Fields[i].GetType().ToString())
            </div>
        }
        else
        {
            string fieldId = Html.IdFor(model => Model.Fields[i]);
            <div class="control field-label @Model.Fields[i].FieldLabelCssClass">
                @Html.DisplayFor(model => Model.Fields[i].Name, Model.Fields[i].Name.GetType().ToString())
            </div>
            <div id="@fieldId" class="@Model.Fields[i].CssClass field-value @Model.Fields[i].FieldValueCssClass">
                @Html.DisplayFor(mode => Model.Fields[i].Description, Model.Fields[i].Description.GetType().ToString())
                @Html.EditorFor(model => model.Fields[i], Model.Fields[i].GetType().ToString())
            </div>
        }
    </div>
}
