@model Catfish.Core.Models.Contents.Fields.SelectField
@using System.Text.Encodings.Web
@using System.Xml.Linq

@Html.HiddenFor(model => model.ModelType)
@Html.HiddenFor(model => model.Id)

@if (Model.Exclude)
    return;

@{
    var fieldId = Html.IdFor(model => model);
    var fieldName = Html.NameFor(model => model);

    var options = Model.Options.Select(op =>
    new SelectListItem
    {
        Value = op.Id.ToString(),
        Text = op.OptionText.GetConcatenatedContent(" | "),
        Selected = op.Selected
    }).ToList();
    options.Insert(0, new SelectListItem());


    if (Model.Options.Where(op => !string.IsNullOrWhiteSpace(op.VisibilityCondition.Value)).Any() == false)
    {
        @*@Html.DropDownListFor(model => model, options, ViewData)*@

        string inputAttr = "";

        foreach (var key in ViewData.Keys)
        {
            if (ViewData[key] == null)
                inputAttr += key + " ";
            else
                inputAttr += key + "=\"" + ViewData[key] + "\" ";
        }


        <select @Html.Raw(inputAttr) id="@fieldId" name="@fieldName">
            @foreach (var opt in options)
            {
                if (opt.Selected)
                {
                    <option value="@opt.Value" selected>@opt.Text</option>
                }
                else
                {
                    <option value="@opt.Value">@opt.Text</option>
}

            }
        </select>

    }
    else
    {
        //Incorporating the visible-if data attributes for the options if needed

        var selectHtmlContent = Html.DropDownListFor(model => model, options, ViewData);
        string selectHtmlString = "";
        using (var writer = new System.IO.StringWriter())
        {
            selectHtmlContent.WriteTo(writer, HtmlEncoder.Default);
            selectHtmlString = writer.ToString();
            XElement xml = XElement.Parse(selectHtmlString);
            foreach (var op in Model.Options)
            {
                var visibleIfValue = op.VisibilityCondition.Value;
                if (!string.IsNullOrWhiteSpace(visibleIfValue))
                {
                    XElement optionElement = xml.Elements("option")
                        .Where(ele => ele.Attribute("value") != null && ele.Attribute("value").Value == op.Id.ToString())
                        .FirstOrDefault();

                    if (optionElement != null)
                    {
                        optionElement.SetAttributeValue("data-visible-if", visibleIfValue);
                        optionElement.SetAttributeValue("id", op.Id);
                        optionElement.SetAttributeValue("data-field-id", op.Id);
                        if (op.Selected)
                            optionElement.SetAttributeValue("selected", "selected");
                    }
                }
            }
            selectHtmlString = xml.ToString();
        }


        @Html.Raw(selectHtmlString)
    }
}
