@model Catfish.Core.Models.Contents.Fields.RadioField

@{
    @Html.HiddenFor(model => model.ModelType)
    @Html.HiddenFor(model => model.Id)

    string visibleIfKey = "data-visible-if";
    string dataFieldIdKey = "data-field-id";

    var _viewData = new Dictionary<string, object>(); ;
    foreach (var key in ViewData.Keys)
        _viewData.Add(key, ViewData[key]);

    @for (int i = 0; i < Model.Options.Count; ++i)
    {
        @Html.HiddenFor(model => model.Options[i].Id)

        if (_viewData.ContainsKey(visibleIfKey))
        {
            _viewData.Remove(visibleIfKey);
            _viewData.Remove(dataFieldIdKey);
        }

        if (!string.IsNullOrWhiteSpace(Model.Options[i].VisibilityCondition.Value))
        {
            _viewData.Add(visibleIfKey, Model.Options[i].VisibilityCondition.Value);
            _viewData.Add(dataFieldIdKey, Model.Options[i].Id);
        }
        <span id="@Model.Options[i].Id">
            @Html.RadioButtonFor(model => model, Model.Options[i].Id.ToString(), _viewData)

            @Html.Raw(string.Format("<span class='radio-option-label' data-option-id='{0}'>{1}</span>",
                Model.Options[i].Id, Model.Options[i].OptionText.GetConcatenatedContent(" | ")))
        </span>
    }
}