@model Catfish.Core.Models.Contents.FileReference

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.ModelType)
@Html.HiddenFor(model => model.Path)
@Html.HiddenFor(model => model.Url)
@Html.HiddenFor(model => model.OriginalName)
@Html.HiddenFor(model => model.Thumbnail)

<div class="file-ref">
    File
</div>
