@model Catfish.Models.Regions.FacebookTimeline

@{ 
    ViewBag.Tile = "Facebook timeline";
    int width = Model.Width == null ? 300 : Convert.ToInt32(Model.Width.Value);
    int height = Model.Height == null ? 400 : Convert.ToInt32(Model.Height.Value);
}

    <div class="fbtimeline container container-fluid">
        <h4>@Model.Title</h4>
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3"></script>
        <div class="fb-page" data-href="@Model.FacebookUrl.Value" data-tabs="timeline" data-width="@width" data-height="@height" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/cbcnews" class="fb-xfbml-parse-ignore"><a href="@Model.FacebookUrl.Value  "></a></blockquote></div>
    </div>

<style>
    .fbtimeline{
        margin-top:15px;
    }
</style>