@model Catfish.Models.Regions.AdvanceSearchContainer
@using Catfish.Models.Regions;

<ul class="form">

    @Html.Partial("_CatfishRegion", Model)

    <li>
        @Html.LabelFor(m => m.HasGeneralSearch);
        <div class="input">@Html.CheckBoxFor(m => m.HasGeneralSearch)</div>
    </li>

    <li>
        @Html.LabelFor(m => m.Fields)
        <div class="bs input">
            <div>
                <table class="table table-responsive table-striped" id="AttributeMappingTable">
                    @{
                        int i = 0;
                        foreach (var f in Model.Mappings)
                        {

                            string rowId = "AdvanceSearchRegion_row_" + i;
                            <tr id="@rowId">
                                <input type="hidden" name="@(Html.NameFor(m => m.Fields)).Index" value="@(i)" />
                                @Html.HiddenFor(m => m.Fields[i].Id)
                                <td><span>@f.Name</span></td>
                                <td>
                                    <span style="float: right;">@Catfish.Resources.Views.Shared.DisplayTemplates.AdvanceSearchContainer.IsAutoComplete&nbsp;@Html.CheckBoxFor(m => m.Fields[i].IsAutoComplete)</span>
                                    <span style="float: right;">@Html.EnumDropDownListFor(m=>m.Fields[i].SelectedDisplayOption,"")</span>
                                   
                                </td>
                                <td><span class="glyphicon glyphicon-minus-sign" onclick="DeleteAdvancedSearchRow('@rowId');"></span><span class="glyphicon glyphicon-arrow-up up"></span><span class="glyphicon glyphicon-arrow-down down"></span></td>
                            </tr>

                            ++i;
                        }
                        <tr id="AdvanceSearchRegion_ddFields">
                            <input type="hidden" class="hdregionAdvanceSearchContainer" value="@Html.IdFor(m => m)" />
                            <td>@Html.DropDownList("selectedField", Model.FieldsMapping, new { @class = "btn btn-default", @style = "padding: 2px 2px" })</td>
                            <td><span class="glyphicon glyphicon-plus-sign" onclick="AddAdvancedSearchField()"></span></td>
                        </tr>

                    }
                </table>
            </div>
        </div>
    </li>
</ul>

<script>
    $(document).ready(function () {
        $('.up,.down').click(function () {
            var row = $(this).parents('tr:first');
            if ($(this).is('.up')) {
                row.insertBefore(row.prev())
            }
            else {
                row.insertAfter(row.next());
            }
        });


    });
    function AddAdvancedSearchField() {
        var uniqueId = Math.random().toString(36).substring(2) + (new Date()).getTime().toString(36);
        var regionName = $(".hdregionAdvanceSearchContainer").val(); // Region_0
        var regionInd = regionName.split("_")[1];//0,1,etc
        var FieldId = $("#" + regionName + "_selectedField").val();
        var FieldText = $("#" + regionName + "_selectedField option:selected").text();
        var fieldsName = "Regions[" + regionInd + "].Body.Fields";
        var fieldName = fieldsName + '[' + uniqueId + ']';

        var rowCount = $('#AttributeMappingTable tr').length;
        var rowId = "AdvanceSearchRegion_row_" + (rowCount - 1);
        var chkIndex = Math.floor(Math.random() * 10) + 100;

        var multiselect = @Html.Raw(Json.Encode(Catfish.Resources.Views.Shared.DisplayTemplates.AdvanceSearchContainer.IsMultiple));
        var autocomplete = @Html.Raw(Json.Encode(Catfish.Resources.Views.Shared.DisplayTemplates.AdvanceSearchContainer.IsAutoComplete));

        var t = `<tr id="` + rowId + `"><input type="hidden" name="` + fieldsName + `.Index" value="` + uniqueId + `">
               <input name="` + fieldName + `.Id" type="hidden" value="` + FieldId + `">
                    <td><span>` + FieldText + `</span></td>
                      <td>
                        <span style="float: right;">` + autocomplete + `&nbsp;<input data-val="true" name="` + fieldName + `.IsAutoComplete" type="checkbox" value="true"/></span>
                        <span style="float: right;"><select data-val="true" data-val-required="The SelectedDisplayOption field is required."  name="` +fieldName + `.SelectedDisplayOption"><option value=""></option>
                            <option selected="selected" value="1">Default</option>
                            <option value="2">TextArea</option>
                            <option value="3">MultipleSelect</option>
                            <option value="4">DropDownList</option>
                          </select></span>
                      </td>
                    <td><span class="glyphicon glyphicon-minus-sign" onclick="DeleteAdvancedSearchRow('` + rowId + `')"></span><span class="glyphicon glyphicon-arrow-up"></span><span class="glyphicon glyphicon-arrow-down"></span></td>
                </tr>`;

        $("#AdvanceSearchRegion_ddFields").before(t)


    }

    function DeleteAdvancedSearchRow(index)
    {
       $("#" + index).remove();
    }
</script>