@model Catfish.Models.Regions.Carousel

<ul class="form">
    <li>
        @Html.LabelFor(m => m.ImageUrls)
        <div class="input">@Html.TextAreaFor(m => m.ImageUrls, new { placeholder = "Enter one URL per line" })</div>
    </li>
    <li>
        @Html.LabelFor(m => m.Links)
        <div class="input">@Html.TextAreaFor(m => m.Links, new { placeholder = "Enter the link text per line in order according to the order of the images. If there is no corespondent link text to one of the image please use '#'." })</div>
    </li>
    <li>
        @Html.LabelFor(m => m.Interval)
        @{if (Model.Interval == 0) { Model.Interval = 3000; }}
        <div class="input">@Html.TextBoxFor(m => m.Interval, new { @type = "number" })</div>
    </li>
    <li>
        @Html.LabelFor(m => m.EnableControls)
        <div class="input">@Html.CheckBoxFor(m => m.EnableControls)</div>
    </li>

    @Html.Partial("_CatfishRegion", Model)
</ul>