@model Catfish.Models.Regions.CSEntityPanel

<ul class="form">
    @Html.Partial("_CatfishRegion", Model)
    @Html.HiddenFor(m => m.ClassId)

    <li>
        @Html.LabelFor(m => m.DefaultEntityId)
        <div class="input">@Html.EditorFor(m => m.DefaultEntityId)</div>
    </li>
    <li>
        @Html.LabelFor(m => m.IgnoreEntityProperty)
        <div class="input">@Html.EditorFor(m => m.IgnoreEntityProperty)</div>
    </li>
    <li>
        @Html.LabelFor(m => m.CsHtml)
        <div class="input">@Html.TextAreaFor(m => m.CsHtml)</div>
    </li>
</ul>
