@model Catfish.Models.Regions.FacebookTimelinePanel
<ul class="form">
    <li>
        @Html.LabelFor(m => m.TimelineUrl)
        <div class="input">@Html.TextBoxFor(m => m.TimelineUrl, new { placeholder = "Twitter public url" })</div>
    </li>

    <li>
        @Html.LabelFor(m => m.Width)

        <div class="input">@Html.TextBoxFor(m => m.Width, new { @type = "number" })</div>
    </li>
    <li>
        @Html.LabelFor(m => m.Height)

        <div class="input">@Html.TextBoxFor(m => m.Height, new { @type = "number" })</div>
    </li>

    @Html.Partial("_CatfishRegion", Model)
</ul>
