@model Catfish.Models.Widgets.FlexBox

@{
    if (Model.Items.Count < Model.ItemCount)
    {
        for (var i = Model.Items.Count; i < Model.ItemCount; ++i)
        {
            Model.Items.Add(new Catfish.Models.Fields.ImageTile());
        }
    }
    else if (Model.Items.Count > Model.ItemCount)
    {
        Model.Items = Model.Items.Take(Model.ItemCount).ToList();
    }
}

<ul class="form">
    <li>
        @Html.LabelFor(m => m.Title)
        <div class="input">@Html.EditorFor(m => m.Title)</div>
    </li>
    <li>
        @Html.LabelFor(m => m.Description)
        <div class="input">@Html.EditorFor(m => m.Description)</div>
    </li>
    <li>
        @Html.LabelFor(m => m.ItemCount)
        <div class="input">@Html.TextBoxFor(m => m.ItemCount, new { @type = "number" })</div>
    </li>
    <li>
        @Html.LabelFor(m => m.CssId)
        <div class="input">@Html.TextBoxFor(m => m.CssId)</div>
    </li>
    <li>
        @Html.LabelFor(m => m.PanelClasses)
        <div class="input">@Html.TextBoxFor(m => m.PanelClasses)</div>
    </li>
    <li>
        @Html.LabelFor(m => m.ItemClasses)
        <div class="input">@Html.TextBoxFor(m => m.ItemClasses)</div>
    </li>
    <li>
        @Html.LabelFor(m => m.Styles)
        <div class="input">@Html.EditorFor(m => m.Styles)</div>
    </li>
    <li>
        @Html.LabelFor(m => m.ClearRow)
        <div class="input">@Html.CheckBoxFor(m => m.ClearRow)</div>
    </li>
</ul>
@Html.EditorFor(m => m.Items)

