@model Catfish.Models.Regions.FormContainer

<ul class="form">
    <li>
        @Html.LabelFor(m => m.FormId)

        <div class="input">@Html.DropDownListFor(m => m.FormId, Model.Forms)</div>
    </li>
    <li>
        @Html.LabelFor(m => m.EntityTypeId)
        <div class="input">@Html.DropDownListFor(m => m.EntityTypeId, Model.EntityTypes)</div>
    </li>
    <li>
        @Html.LabelFor(m => m.CollectionId)
        <div class="input">@Html.DropDownListFor(m => m.CollectionId, Model.Collections)</div>
    </li>
    @Html.Partial("_CatfishRegion", Model)
</ul>
