@model Catfish.Models.Regions.GoogleCalendarPanel

<ul class="form">

    <li>
        @Html.LabelFor(m => m.ApiKey)
        <div class="input">
            @Html.TextBoxFor(m => m.ApiKey, new { placeholder = "Api key" })
        </div>
    </li>

    <li>
        @Html.LabelFor(m => m.CalendarId)
        <div class="input">
            @Html.TextBoxFor(m => m.CalendarId, new { placeholder = "Calendar id" })
        </div>
    </li>
    <li>
        @Html.LabelFor(m => m.DayRangePast)
        <div class="input">
            @Html.TextBoxFor(m => m.DayRangePast, new { @type = "number" })
        </div>
    </li>
    <li>
        @Html.LabelFor(m => m.DayRange)
        <div class="input">
            @Html.TextBoxFor(m => m.DayRange, new { @type = "number" })
        </div>
    </li>

    <li>
        @Html.LabelFor(m => m.MaxEvents)
        <div class="input">
            @Html.TextBoxFor(m => m.MaxEvents, new { @type = "number" })
        </div>
    </li>

    <li>
        @Html.LabelFor(m => m.ShowEventSummary)
        <div class="input">
            @Html.CheckBoxFor(m => m.ShowEventSummary)
        </div>
    </li>

    <li>
        @Html.LabelFor(m => m.ShowEventDescription)
        <div class="input">
            @Html.CheckBoxFor(m => m.ShowEventDescription)
        </div>
    </li>

    <li>
        @Html.LabelFor(m => m.ShowEventLocation)
        <div class="input">
            @Html.CheckBoxFor(m => m.ShowEventLocation)
        </div>
    </li>

    <li>
        @Html.LabelFor(m => m.ShowEventStart)
        <div class="input">
            @Html.CheckBoxFor(m => m.ShowEventStart)
        </div>
    </li>

    <li>
        @Html.LabelFor(m => m.ShowEventEnd)
        <div class="input">
            @Html.CheckBoxFor(m => m.ShowEventEnd)
        </div>
    </li>

    <li>
        @Html.LabelFor(m => m.RenderMode)
        <div class="input">
            <div class="input">
                @Html.EnumDropDownListFor(model => model.RenderMode)                
            </div>
        </div>
    </li>

    @Html.Partial("_CatfishRegion", Model)
</ul>