@model Catfish.Models.Regions.GridPanel


<ul class="form">
    @Html.Partial("_CatfishRegion", Model)
   
    <li>
       @Html.LabelFor(m => m.DesktopColNum)
       <div class="input">
               @Html.DropDownListFor(m => m.DesktopColNum, new SelectList(Model.AllowColumns, "Text", "Value"))
        </div >
    </li >
    <li>
        @Html.LabelFor(m => m.MobileColNum)
        <div class="input">
        @Html.DropDownListFor(m => m.MobileColNum, new SelectList(Model.AllowColumns, "Text", "Value"))
          
        </div>
    </li>
   <li  @Html.LabelFor(m => m.Entries, new {@style="font-weight: bold; padding:8px; min-height:21px;" })</li>
    <li >
       
      @{  int i = 0;
          foreach (string f in Model.Entries)
          {
              string rowId = "row_" + i;
              string row_label = "Entry " + (i + 1);
            <div id="@rowId" class="bs gridPanelMceView"><b class="gridSectionLabel">@row_label</b>
                <input type="hidden" name="@(Html.NameFor(m => m.Entries)).Index" value="@(i)" />
                @Html.TextAreaFor(m => m.Entries[i], new { @class = "editor", @rows = 5 })
                <div class="gridPanelMceViewDeleteBtn">
                    <span class="glyphicon glyphicon-minus-sign btn-link " onclick="DeleteRow('@rowId')">Delete</span>
                </div>
               <hr class="gridPanelHr" />
            </div>

                  ++i;
              }
          }
         <div class="bs btnsControlDiv">
             <button class="glyphicon glyphicon-plus-sign" onclick="AddField(event);">Add</button>
            
         </div>
    </li>



   
</ul>

<script type="text/javascript" src="~/Scripts/richtext.js"></script>
<script>

 function AddField(e)
 {
       e.preventDefault();
      var uniqueId = Math.random().toString(36).substring(2) + (new Date()).getTime().toString(36);
       var rowId = "row_" + uniqueId;
       var textAreaId = "Regions_0__Body_Entries_" + uniqueId +"_";

      var t = ` <div id="` + rowId +`" class="bs gridPanelMceView"><b class="gridSectionLabel"> Entry ` + uniqueId + `</b><input type="hidden" name="Regions[0].Body.Entries.Index" value="` + uniqueId + `">
              <textarea class="editor" cols="20" id="Regions_0__Body_Entries_` + uniqueId +`_" name="Regions[0].Body.Entries[` + uniqueId +`]" rows="5"></textarea>
                <div class="gridPanelMceViewDeleteBtn">
                <span class="glyphicon glyphicon-minus-sign gridPanelMceViewDeleteBtn btn-link " onclick="DeleteRow('` + rowId+ `')">Delete</span></div>
                 <hr class="gridPanelHr" /></div>`;

      $(".btnsControlDiv").before(t);

      convertToRichTextSwapper("#" + textAreaId, "");//convert textArea to RichTextBox
}

 function DeleteRow(index)
 {
    $("#" + index).remove();
 }

</script>

<style>
    .btnsControlDiv {
        text-align: right;
        cursor: pointer;
        margin-bottom: 10px;
        padding: 10px;
    }
    .gridPanelMceViewDeleteBtn {
        display: block;
        background-color: white;
        padding: 10px;
        text-align: right;
        width: 100%;
        cursor: pointer;
    }
    .gridPanelMceView {
        background-color: #55a8129e;
    }
    .gridPanelHr {
        color: grey;
        min-height: 3px;
        background-color: grey;
        margin-bottom: 15px;
    }
    .gridSectionLabel {
        padding: 8px;
        line-height: 30px;
        color: White;
    }
</style>
