@model Catfish.Models.Regions.Html.HtmlTag

<ul class="form">
    <li>
        @Html.LabelFor(m => m.TagName)
        <div class="input">@Html.TextBoxFor(m => m.TagName)</div>
    </li>
    <li>
        @Html.LabelFor(m => m.IsOpen)
        <div class="input">
            @Html.RadioButtonFor(m => m.IsOpen, true) Open
            @Html.RadioButtonFor(m => m.IsOpen, false) Close

        </div>
    </li>

    @Html.Partial("_CatfishRegion", Model)
</ul>