@model Catfish.Models.Regions.TwitterTimelinePanel

<ul class="form">
    <li>
        @Html.LabelFor(m => m.TimelineUrl)
        <div class="input">@Html.TextBoxFor(m => m.TimelineUrl, new { placeholder = "Twitter public url" })</div>
    </li>
   
    <li>
        @Html.LabelFor(m => m.NumOfPosts)
       
        <div class="input">@Html.TextBoxFor(m => m.NumOfPosts, new { @type = "number" })</div>
    </li>
    <li>
        @Html.LabelFor(m => m.Theme)
        <div class="input">
            @Html.RadioButtonFor(m => m.Theme, @Catfish.Models.Regions.eTheme.white.ToString(), new { id = Catfish.Models.Regions.eTheme.white }) White
            @Html.RadioButtonFor(m => m.Theme, @Catfish.Models.Regions.eTheme.dark.ToString(), new { id = Catfish.Models.Regions.eTheme.dark }) Dark
    </div>

    </li>

    @Html.Partial("_CatfishRegion", Model)
</ul>