@model Catfish.Models.Regions.VimeoPanel

<ul class="form">
   
    <li>
        @Html.LabelFor(m => m.VimeoEmbedCode)
        <div class="input">@Html.TextAreaFor(m => m.VimeoEmbedCode, new { placeholder = "Copy the embed code from Vimeo and paste it here." })</div>
    </li>
    <li>
        @Html.LabelFor(m => m.StartDate)
        <div class="input">@Html.EditorFor(m=>m.StartDate)</div>
    </li>
    <li>
        @Html.LabelFor(m => m.BeforeMessage)
        <div class="input">@Html.TextAreaFor(m => m.BeforeMessage, new { placeholder = "This message will be displayed, if not empty" })</div>
    </li>
    <li>
        @Html.LabelFor(m => m.EndDate)
        <div class="input">@Html.EditorFor(m => m.EndDate)</div>
    </li>
    <li>
        @Html.LabelFor(m => m.AfterMessage)
        <div class="input">@Html.TextAreaFor(m => m.AfterMessage, new { placeholder = "This message will be displayed, if not empty" })</div>
    </li>

    @Html.Partial("_CatfishRegion", Model)
</ul>
