@model Catfish.Core.Models.Item
@using Catfish.Areas.Manager.Models.ViewModels;
@using Catfish.Core.Models;

@{ ViewBag.Title = "Entity Associations"; }

@section HEAD
{
    <script type="text/javascript" src="~/Scripts/knockout-3.1.0.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout.mapping-latest.js"></script>
    <script type="text/javascript" src="~/Scripts/perpetuum.knockout.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/Css/catfish.css">
}

@section Toolbar {
    @Html.Partial("Partial/koEditToolbar", Model, new ViewDataDictionary() { { "reloadAction", "associations" } })
}

<div class="grid_12">
    <h3>@Model.GetName()</h3>

    @Html.Partial("Partial/ParentCollectionList", Model)

    @{ EntityContentViewModel childItems = ViewBag.ChildItems as EntityContentViewModel; }
    @Html.Partial("Partial/EntityContent", childItems, new ViewDataDictionary() { { "title", "Child Items" } })

    @{ EntityContentViewModel relatedItems = ViewBag.RelatedItems as EntityContentViewModel; }
    @Html.Partial("Partial/EntityContent", relatedItems, new ViewDataDictionary() { { "title", "Related Items" } })
</div>
