@model Catfish.Core.Models.Item
@using Catfish.Core.Models;

@{  ViewBag.Title = Model.Id > 0 ? "Edit Item" : "Create Item"; }

@section Toolbar {
    @Html.Partial("Partial/EditToolbar")
}

@ViewBag.Status
<br />

@{ Html.BeginForm(); }
@Html.HiddenFor(m => m.Id)
@Html.AntiForgeryToken()
@Html.ValidationSummary(true)
@Html.Hidden("ModelType", Model.GetType().AssemblyQualifiedName, new Dictionary<string, object>()
{
    {"class", "model-type"}
})

<div>

    @* Rendering the metadata sets through the Entity.cshtml shared editor template *@
    @Html.EditorFor(m => m)

    <h3>Files</h3>
    @for (int idx = 0; idx < Model.Files.Count(); ++idx)
    {
        <div class="file">@Html.EditorFor(m => m.Files[idx])</div>
    }


@{ Html.EndForm(); }
