@model Catfish.Core.Models.CFItem
@using Catfish.Areas.Manager.Models.ViewModels;
@using Catfish.Core.Models.Forms;

@{  ViewBag.Title = Model.Id > 0 ? "Edit Item" : "Create Item";
    ViewBag.UploadApiUrl = Url.Action("upload", "items", new {id = Model.Id });
    ViewBag.Files = Model.Files.ToList(); //this is needed to display attachment file it's uploaded from metadata area of Item/edit page.
 }

@section HEAD
{
    <script type="text/javascript" src="~/Scripts/knockout-3.1.0.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout.mapping-latest.js"></script>
    <script type="text/javascript" src="~/Scripts/perpetuum.knockout.js"></script>
    @*<script type="text/javascript" src="~/Scripts/fileupload.js"></script>*@
    <script type="text/javascript" src="~/Scripts/attachment.js"></script>
    <script type="text/javascript" src="~/Scripts/richtext.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/Css/catfish.css">
    <script type="text/javascript">
        var uploadApiUrl = "@Url.Action("upload", "items", new { id = Model.Id })";
        var deleteApiUrl = "@Url.Action("deleteFile", "items", new { id = Model.Id })";
    </script>

        @* Code used to turn praragraph fields into rich text fields. *@
    <script type="text/javascript" src="~/res.ashx/areas/manager/content/js/ext/tiny_mce/tinymce.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            @if (File.Exists(Server.MapPath("~/areas/manager/content/css/editor.css"))) {
                <text>var cssPath = "@Url.Content("~/areas/manager/content/css/editor.css")";</text>
            }
            else
            {
                <text>var cssPath = null;</text>
            }

            convertToRichTextSwapper(".rich-text-transform textarea", cssPath);
        });
    </script>
}

@if (ViewBag.ReadOnly != null && ((bool)ViewBag.ReadOnly == true))
    {
        <div class="alert alert-warning alert-dismissible grid_12" >
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            You do not have permission to edit this item.
        </div>
    }

@section Toolbar {
    @if (ViewBag.SelectEntityViewModel != null)
    {
        @Html.Partial("Partial/koEditToolbar")
    }
    else
    {

        @Html.Partial("Partial/EditToolbar", Model, new ViewDataDictionary() { { "entityTypeId", Model.EntityTypeId },{ "isItem",1} })
       
    }
}

@*modal move Item*@
<!-- The Modal -->
<div class="bs container">
    <div class="modal" id="modalMoveItem">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Move Item To...</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Collection : @Html.DropDownList("systemCollectionId", new SelectList(ViewBag.SystemCollections, "Value", "Text"))
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button id="moveItemOkBtn" type="button" class="btn btn-default btn-primary" onclick="moveItem(@Model.Id); return false;">Ok</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>
@*end of modal*@

@if (ViewBag.SelectEntityViewModel != null)
{
    <div class="grid_12 bs">
        <div class="box">

            @Html.Partial("Partial/SelectEntityType", ViewBag.SelectEntityViewModel as SelectEntityTypeViewModel, new ViewDataDictionary() { { "controller", "items" } })
        </div>
    </div>

}
else
{
    using (Html.BeginForm("Edit", "Items", FormMethod.Post))
    {
        <div class="grid_12 bs">
            <div class="box">
                <div class="title">
                    Metadata
                </div>
                @Html.Partial("Partial/EditEntity")
            </div>
        </div>

        if (Model.FormSubmissions.Count() > 0)
        {
            <div class="grid_12 bs">
                <div class="box">
                    <div class="title">
                        Form Submissions
                    </div>
                    <div class="form-view">
                        @Html.DisplayFor(m => m.FormSubmissions, new { Item = Model })
                    </div>
                </div>
            </div>
        }

        <div class="grid_12 bs">
            <div class="box">
                <div class="title">
                    Files
                </div>
                <div class="form-view">
                    @{ 
                        List<string> crossLinkedFileGuidSets = Model.FormSubmissions
                            .SelectMany(form => form.FormData.Fields.Where(field => field is Attachment))
                            .Select(field => (field as Attachment).FileGuids).ToList();
                        var crossLinkedFileGuids = crossLinkedFileGuidSets.SelectMany(set => set.Split(new char[] { Attachment.FileGuidSeparator }, StringSplitOptions.RemoveEmptyEntries)).ToList();
                    }  
                    @Html.EditorFor(m => m.AttachmentField,
                   new {
                       UploadApiUrl = @Url.Action("upload", "items"),
                       DeleteApiUrl = @Url.Action("deleteCashedFile", "items"),
                       Files = Model.Files.ToList(),
                       CrossLinkedFileGuids = crossLinkedFileGuids,
                       ParentId = Model.Id,
                       Controller = "items"
                   })
                </div>
            </div>
        </div>

    }

    @*<div class="grid_12 bs">
        <div class="box">
            <div class="title">
                Files
            </div>
            <div class="inner">
                @if (Model.Id == 0)
                {
                    <div class="alert alert-info">Please save this item first in order to enable file uploading.</div>
                }
                else
                {
                    if (Model.Files.Count() == 0)
                    {
                        <p>No files exist</p>
                    }
                }

                <div id="thumbnailPanel" class="thumbnailPanel">
                    @foreach (var file in Model.Files)
                    {
                        FileViewModel vm = new FileViewModel(file, Model.Id, Request.RequestContext);
                        var eleId = @vm.Guid.Substring(0, @vm.Guid.Length - 4);
                        <div class="fileThumbnail" id="@eleId">
                            <img src="@vm.Thumbnail" alt="@vm.FileName" /> 
                            <button class="glyphicon glyphicon-remove" onclick="del('@vm.Guid');"></button>
                            <div class="label"><a href="@vm.Url" target="_blank">@vm.FileName</a></div>
                        </div>
                    }                                                                       
                </div>
                <div class="inner" style="clear:both">
                    @if (Model.Id > 0)
                    {
                        <div id="uploadErrorMessage" class="alert alert-danger"></div>
                        <input type='file' id='uploadField' class="uploadField" name="files" multiple="multiple" />
                        <input type="button" value="Upload" id="uploadButton" class="uploadButton" onclick="upload(); return false;" />
                        <div id="progressBar"><progress></progress></div>
                    }
                </div>
            </div>

        </div>
    </div>*@

}

<script>
    {
       let isReadOnly = '@ViewBag.ReadOnly';

       if(isReadOnly === 'True')
       {
          $("#toolbar_save_button").attr("disabled", "disabled");
          //'greyed' out the button
          $("li#save-btn").addClass("disabledToolbarButton");
          $('#toolbar_save_button').off('click');
          $('#toolbar_save_button').on("click", function(event){
                if ($(this).is("[disabled]")) {
                            event.preventDefault();
                    }
            });
        }
        else{
             $("li#save-btn").removeClass("disabledToolbarButton");
        }
   }


    function moveItem(itemId)
    {
       var collectionId = $("#systemCollectionId").val();
       var colllectionName = $("#systemCollectionId option:selected").text();
       var response = confirm("WARNING: This will remove the item from its parents and place it into the collection " + colllectionName);
       if(response == true)
       {
            var url ='@Url.Action("MoveItemToSystemCollection", "items")';
            
            $.ajax({
                type: "POST",
                url: url,
                data:{"itemId":itemId, "sysCollectionId": collectionId},

                dataType: "json",
                success: function(result){
                  // alert("Item has been successfully move to collection " + result);
                   window.location.reload();
                },
                error: function(error){alert("Error: Can't move Item.");}
            });

       }
      return false;
    }


</script>