@page "~/manager/groups/edit/collection/{id:Guid?}"
@model Catfish.Areas.Manager.Pages.AddTemplateCollectionModel
@inject Piranha.Manager.ManagerLocalizer Localizer
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@inject Catfish.Helper.ICatfishAppConfiguration _catfishConfig;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Catfish.Core.Models

@{
    string addUserDescription = _catfishConfig.GetValue("SiteConfig:AddingUserDescription", "");

    if (string.IsNullOrWhiteSpace(addUserDescription))
        addUserDescription = "Please enter user email address(es) one line per email (please use UAlberta CCID email whenever applicable)!";
}
@*@Html.HiddenFor(m => m.Group.Id)*@
<div class="top">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">@Localizer.General["Settings"]</li>
            <li class="breadcrumb-item">@Localizer.General["Groups"]</li>
            @*<li class="breadcrumb-item" aria-current="page"><a href="@string.Format("../{0}", Model.GroupTemplate.GroupId">@Localizer.General["Edit"]</a></li>*@
            <li class="breadcrumb-item active" aria-current="page">@Localizer.General["Add Collection"]</li>
        </ol>
    </nav>


</div>