@page  "~/manager/processes"
@*@model Catfish.Areas.Manager.Pages.Processes*@
@inject Piranha.Manager.ManagerLocalizer Localizer
@using Microsoft.AspNetCore.Authorization
@using Piranha.Models;
@using Catfish.Services;
@inject Microsoft.AspNetCore.Authorization.IAuthorizationService AuthorizationService
@inject IPageIndexingService PageIndexingService

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = Localizer.Page["Processes"];
    ViewBag.MenuItem = "Processes";

    List<Site> Sites = await PageIndexingService.GetSitesList().ConfigureAwait(false);
}
@section script
{
    <script src="@Url.Content(Piranha.Manager.Editor.EditorScripts.MainScriptUrl)"></script>
    <script src="@Url.Content(Piranha.Manager.Editor.EditorScripts.EditorScriptUrl)"></script>
    
} @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js" integrity="sha384-3ziFidFTgxJXHMDttyPJKDuTlmxJlwbSkojudK/CkRqKDOmeSbN6KLrGdrBQnT2n" crossorigin="anonymous"></script>
  *@
<div id="process-page-container">
    <div class="top">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">@Localizer.Menu["Processes"]</li>
                <li class="breadcrumb-item active" aria-current="page">@Localizer.Menu["Home"]</li>
            </ol>
        </nav>
        <div class="container-fluid">
            <div class="top-nav">
                @*@if ((await AuthorizationService.AuthorizeAsync(User, Catfish.Areas.Manager.Access.GroupSecurity.Add)).Succeeded)
                    {

                        <a href="edit" class="btn btn-labeled btn-primary pull-right">
                            <i class="fas fa-plus"></i>@Localizer.General["Add"]
                        </a>
                    }*@
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <span class="title">@Localizer.General["Site Indexing"]</span>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th>@Localizer.General["Site Name"]</th>
                                <th>@Localizer.General["Site Type"]</th>
                                <th class="actions one"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                //TODO: initialize the offset and max using variables passed through the page model.
                                int offset = 0;
                                int max = 10000;

                                int indexValue = 0;
                            }
                            @foreach (var site in @Sites)
                            {

                                <tr>
                                    <td>
                                        <span class="title">@site.Title</span>
                                    </td>
                                    <td>
                                        <span class="title">@site.SiteTypeId</span>
                                    </td>
                                    <td class="actions one" style="width: 18rem;">
                                        <button id="siteIndex-@indexValue" class="btn btn-danger" type="button" data-toggle="modal" 
                                        data-target="#userModal" v-on:click="setCurrentSite(@indexValue)"> 
                                            Index the Site
                                        </button>
                                        <div id="userModal" class="modal fade" role="dialog">

                                            <div id="indexForm-@indexValue"> 
                                                <div class="modal-dialog">
                                                    @*Modal content*@
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="myModalLabel">Page Index Confirmation</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="card-body">
                                                                <div class="form-group">
                                                                    <h5>Do you really want to re-index this website?</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button id="close-modal-button" type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                                            <button v-on:click="indexTheSite('@site.Id', '@site.SiteTypeId')" id="indexConfirm" type="submit" class="btn btn-success">Index</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
								indexValue++;
							}
                        </tbody>
                    </table>
                    <div class="submission-result-message" style="display:none"></div>
                </div>
            </div> @*Ends "card-body"*@
        </div> @*End: "cards"*@
    </div>

</div>

<script>

    ////$(function () {
    ////    $("#indexForm").submit(function (event) {

    ////        /* stop form from submitting normally */
    ////        event.preventDefault();


    ////        /* get the action attribute from the <form action=""> element */
    ////        var url = "/api/solr/index";
    ////        var siteval = $("#SiteId").val();
    ////        var siteType = $("#SiteTypeId").val();
    ////        console.log('url : ' + url);
    ////        console.log('siteId : ' + siteval);
    ////        /* Send the data using post with element id name and name2*/
    ////        //var posting = $.post(url, {
    ////        //    siteId: siteval
    ////        //});

    ////        $.ajax({
    ////            type: 'POST',
    ////            url: url,
    ////            data: {
    ////                siteId: siteval,
    ////                siteTypeId: siteType

    ////            },
    ////            success: function (response) {
    ////                $(".submission-result-message").addClass("alert alert-success");
    ////                $("#submissionForm")[0].reset();
    ////            }
    ////        });
    ////        console.log('url : ' + url);

            //posting.done(function (data) {
            //    $(".submission-result-message").empty();

            //    if (data.success) {
            //        $(".submission-result-message").addClass("alert alert-success");
            //        $("#submissionForm")[0].reset();
            //    }
            //    else {
            //        $(".submission-result-message").addClass("alert alert-danger");
            //    }
            //    $(".submission-result-message").text(data.message);
            //    $(".submission-result-message").show();
            //});
    ////    });
    ////});
</script>
@*<script>
    function addUser(id,type) {
        $(".modal-footer #SiteId").val(id);
        $(".modal-footer #SiteTypeId").val(type);
    }
</script>*@