<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href="~/res.ashx/areas/manager/content/img/icon.ico" rel="icon" type="image/x-icon">
    <link href="~/res.ashx/areas/manager/content/img/icon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="~/res.ashx/areas/manager/content/css/ext/chosen.min.css" rel="stylesheet" type="text/css" />
    <link href="~/res.ashx/areas/manager/content/css/ext/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" type="text/css" />
    <link href="~/res.ashx/areas/manager/content/css/style.min.css" rel="stylesheet" type="text/css" />
    @if (File.Exists(Server.MapPath("~/areas/manager/content/css/style.css")))
    {
    <link href="~/areas/manager/content/css/style.css" rel="stylesheet" type="text/css" />
    }
    <link href="~/Areas/Manager/Content/Css/Components.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="~/content/css/Site.css" />

    <link href="~/Content/bs-bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="~/res.ashx/areas/manager/content/js/ext/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="~/res.ashx/areas/manager/content/js/jquery.manager.js"></script>
    <script type="text/javascript" src="~/res.ashx/areas/manager/content/js/ext/chosen.jquery.min.js"></script>
    <script type="text/javascript">
        var siteroot = "@Url.Content("~/")";
        var apikey = "@Html.APIKey("FE868D4F-797C-4E60-B876-64E6FC2424AA")";
        siteroot += !siteroot.endsWith("/") ? "/" : "";

        $(document).ready(function () {
            $(".message").click(function () { $(this).fadeOut("medium"); });

            $(".chzn-select").chosen().trigger("liszt:updated");
        });
    </script>
    @if (!String.IsNullOrEmpty(ViewBag.Message))
    {
    <script type="text/javascript">
        setTimeout(function () {
            $(".sys-message").slideUp();
        }, 2000);
    </script>
    }
    @RenderSection("Head", false)

    @if (Catfish.Core.Helpers.ConfigHelper.Languages.Count < 2)
    {
    <style>
        .lang-label {
            display: none !important;
        }
    </style>
    }
</head>
<body>
    <div class="top">
        <div class="container_12">
            <div class="grid_12 header">
                <a class="home" href="@Url.Action("index", "page")">
@*                    <img src="~/areas/manager/content/img/logo.png" alt="Catfish Repository" height="50"/>*@
                </a>
                <div class="site-title">
                    <span>@Piranha.WebPages.WebPiranha.CurrentSite.MetaTitle</span>
                    <a class="public-site" target="preview" href="@Piranha.WebPages.WebPiranha.GetSiteUrl()">
                        @Piranha.WebPages.WebPiranha.GetSiteUrl()
                    </a>
                </div>
                @Html.Partial("Partial/Menu")
            </div>
        </div>
    </div>
    <div class="title">
        <div class="container_12">
            <div class="grid_12"><h1>@ViewBag.Title</h1></div>
        </div>
    </div>
    <div class="body">
        <div class="container_12">
            <div class="grid_12 toolbar-container">
                @RenderSection("Toolbar", false)
            </div>
            @if (!String.IsNullOrEmpty(ViewBag.Message))
            {
                <div class="grid_12 sys-message">
                    <div class="box@(!String.IsNullOrEmpty(ViewBag.MessageCss) ? " " + ViewBag.MessageCss : "")">
                        <div class="inner">
                            <div class="ico"></div><p>@ViewBag.Message</p>
                        </div>
                    </div>
                </div>
            }
            <div class="content left">
                @RenderBody()
            </div>
        </div>
    </div>
    <div id="boxSysMsg" class="floatbox">
        <div class="bg"></div>
        <div class="box">
            <div class="title"><h2 id="SysMsgTitle"></h2></div>
            <div class="inner">
                <p id="SysMsgBody"></p>
            </div>
        </div>
    </div>
    <div id="boxDialog" class="floatbox">
        <div class="bg" style="background-color: transparent"></div>
        <div class="box" style="min-width: 510px;min-height:260px;">
        </div>
    </div>
    @RenderSection("Foot", false)

    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>