@model Catfish.Core.Models.ViewModels.GroupRoleUserAssignmentVM

@Html.HiddenFor(model => model.UserId)
@Html.HiddenFor(model => model.UserName)
@Html.HiddenFor(model => model.Email)
@Html.HiddenFor(model => model.RoleGroupId)


@{
    var id = Html.IdFor(model => model);
    var name = Html.NameFor(model => model);
}
    <tr>
        <td>
            <span  class="title">@Model.UserName</span>
        </td>
        <td>
            <span  class="title">@Model.Email</span>
        </td>
        <td class="actions one">
            <span class="checkbox">
                <label class="mb-0">
                    @Html.CheckBoxFor(model => model.Assigned)
                </label>
            </span>
        </td>
    </tr>

