@model Catfish.Core.Models.Metadata.MetadataSet
@using Catfish.Areas.Manager.Helpers;

@{  ViewBag.Title = "Metadata Set Details"; }

@section Toolbar {
    @Html.Partial("Partial/DetailsToolbar")
}

<div class="grid_12">
    <div class="box">
        <div class="title"><h2>@Html.TypeLabelFor(m => m)</h2></div>
        <div class="inner">
            <ul class="form">
                <li>
                    @Html.LabelFor(m => m.Name)
                    <div class="input">@Html.TypeLabelFor(m => m.Name)</div>
                    <div class="input">@*@Html.EditorFor(m => m.Name)*@</div>
                </li>
                <li>
                    @Html.LabelFor(m => m.Description)
                    <div class="input">@Html.TypeLabelFor(m => m.Description)</div>
                    @*<div class="input">@Html.EditorFor(m => m.Description)</div>*@
                </li>
            </ul>
        </div>
    </div>
    <div id="fields-container">
        @Html.DisplayFor(m => m.Fields)
        @*@Html.EditorForList(m => m.Fields)*@
    </div>

</div>

