@model Catfish.Core.Models.Forms.MetadataDefinition
@using Catfish.Areas.Manager.Helpers;

@{  ViewBag.Title = "Metadata Set Details"; }

@section Toolbar {
    @Html.Partial("Partial/DetailsToolbar")
}

<div class="grid_12">
    <div class="box">
        <div class="title"><h2>@Model.Name</h2></div>
        <div class="inner">
            <p>@Html.Raw(@Model.Description)</p>
            <h3>@Html.LabelFor(m => m.Fields)</h3>
            @Html.DisplayFor(m => m.Fields)
        </div>
    </div>
</div>

