@using Catfish.Core.Models.Metadata;
@using Catfish.Areas.Manager.Helpers;

<script src="/node_modules/requirejs/require.js"></script>
<script type="text/javascript" src="/built/require-config.js"></script>
@{ 
    var viewData = new ViewDataDictionary(Html.ViewData)
    {
        TemplateInfo = new System.Web.Mvc.TemplateInfo
        {
            HtmlFieldPrefix = "Fields[CATFISH_GUID]"
        }
    };

    string simpleTemplate = Html.Partial("EditorTemplates/SimpleField", new SimpleField(), viewData).ToHtmlString();
    string optionsTemplate = Html.Partial("EditorTemplates/OptionsField", new OptionsField(), viewData).ToHtmlString();


    <script>
        var fieldTypes = {
                templates: {
                    "@Html.Raw(typeof(SimpleField).FullName)": @Html.Raw(Json.Encode(simpleTemplate)),
                    "@Html.Raw(typeof(OptionsField).FullName)" : @Html.Raw(Json.Encode(optionsTemplate))
                },
                fields: @Html.Raw(ViewBag.FieldTypes)
            }
</script>
}
@model Catfish.Core.Models.Metadata.MetadataSet
@{  ViewBag.Title = "Edit Metadata Set"; }
@section Toolbar {
    @Html.Partial("Partial/Tabs")
    <div class="toolbar">
        <div class="inner">
            <ul>
                <li>
                    <a class="save submit">
                        @Piranha.Resources.Global.ToolbarSave
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("index")" class="back">
                        @Piranha.Resources.Global.ToolbarBack
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("edit", new { id = Model.Id })" class="refresh">
                        @Piranha.Resources.Global.ToolbarReload
                    </a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
}
@{ Html.BeginForm(); }
@Html.HiddenFor(m => m.Id)
<div class="grid_12">
    <div class="box">
        <div class="title"><h2>Metadata Set</h2></div>
        <div class="inner">
            <ul class="form">
                <li>
                    @Html.LabelFor(m => m.Name)
                    <div class="input">@Html.EditorFor(m => m.Name)</div>
                </li>
                <li>
                    @Html.LabelFor(m => m.Description)
                    <div class="input">@Html.EditorFor(m => m.Description)</div>
                </li>
            </ul>
        </div>
    </div>
    <div id="fields-container">
        @Html.EditorForList(m => m.Fields)
       @*Html.EditorFor(model => model.Fields)*@
    </div>
    
</div>
@{ Html.EndForm(); }

<button id="add-field">Add</button>

<script>
    require(["/Built/Forms/MetadataSetForm.js"]);
</script>
