@model Catfish.Core.Models.Contents.Fields.TableField

@Html.HiddenFor(model => model.ModelType)
@Html.HiddenFor(model => model.Id)

<div class="h4 title">@Html.Raw(Model.Name.GetConcatenatedContent(" | "))</div>

<table class="table @Model.CssClass">
    <thead>
        <tr>
            @foreach (var cell in Model.TableHead.Fields)
            {
                <th>@Html.Raw(cell.Name.ConcatenatedContent)</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (var r = 0; r < Model.TableData.Count; ++r)
        {
            var row = Model.TableData[r];
            <tr data-r="@r" >
                @for (var c = 0; c < row.Fields.Count; ++c)
                {
                    var fieldId = Model.TableData[r].Fields[c].Id;
                    string templateName = "Values/" + Model.TableData[r].Fields[c].GetType().ToString();
                    <td data-model-id="@fieldId" data-c="@c">
                        @Html.DisplayFor(model => Model.TableData[r].Fields[c], templateName)
                    </td>
                }
            </tr>
        }

        @for (var r = 0; r < Model.TableFooter.Count; ++r)
        {
            var row = Model.TableFooter[r];
            <tr class="footer-row">
                @for (var c = 0; c < row.Fields.Count; ++c)
                {
                    var fieldId = Model.TableFooter[r].Fields[c].Id;
                    string templateName = "Values/" + Model.TableFooter[r].Fields[c].GetType().ToString();
                    <td data-model-id="@fieldId">
                        @if (!Model.TableFooter[r].Fields[c].Exclude)
                        {
                            @Html.DisplayFor(model => Model.TableFooter[r].Fields[c], templateName)
                        }
                    </td>
                }
            </tr>
        }

    </tbody>
</table>