@model Catfish.Core.Models.Contents.Fields.RadioField

<div class="control field-label @Model.FieldLabelCssClass">@Html.DisplayFor(model => model.Name, Model.Name.GetType().ToString())</div>
<div data-model-id="@Model.Id" class="multilingual-input-block field-value @Model.CssClass @Model.FieldValueCssClass">
    @{
        var selectedOptionNames = Model.Options.Where(op => op.Selected).Select(op => op.OptionText).FirstOrDefault();

        if (selectedOptionNames == null)
        {
            @Html.Raw("Not selected")
        }
        else
        {
            @selectedOptionNames.GetConcatenatedContent(" | ")
        }
    }
</div>