@model Catfish.Core.Models.Contents.Fields.DateField

<div class="control field-label @Model.FieldLabelCssClass">@Html.DisplayFor(model => model.Name, Model.Name.GetType().ToString())</div>
@{

    var values = string.Join(", ", Model.IncludeTime
        ? Model.Values.Select(val => "<span>" + val.DateValue +"</span>")
        : Model.Values.Select(val => "<span>" + (val.DateValue.HasValue ? val.DateValue.Value.ToString("yyyy-MM-dd") : "") + "</span>"));
}
<div data-model-id="@Model.Id" class="field-value @Model.CssClass @Model.FieldValueCssClass">
    @Html.Raw(values)
</div>