@page "~/manager/workflow/templates/{id:Guid}"
@model Catfish.Areas.Manager.Pages.WorkflowEditor.EntityTemplatePage

@using Microsoft.AspNetCore.Authorization

@inject Piranha.Manager.ManagerLocalizer Localizer
@inject IAuthorizationService AuthorizationService
@inject Catfish.Core.Services.IGroupService GroupService
@inject Catfish.Helper.ICatfishAppConfiguration _config;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{

    ViewBag.Title = Localizer.Page["Workflow Templates"];
    var siteURL = _config.GetSiteURL();

    var template = Model.Template;

    ViewData["data-template-id"] = template.Id;
}

@section script
{
    <script src="@Url.Content(Piranha.Manager.Editor.EditorScripts.MainScriptUrl)"></script>
    <script src="@Url.Content(Piranha.Manager.Editor.EditorScripts.EditorScriptUrl)"></script>
    <script src="~/manager/assets/js/piranha.contentedit.min.js"></script>
    <script src="~/manager/assets/js/piranha.siteedit.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
}


<div id="entityTypelist">
    <div class="top">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">@Localizer.Menu["Workflow"]</li>
                <li class="breadcrumb-item">@Localizer.Menu["Templates"]</li>
                <li class="breadcrumb-item active" aria-current="page">@Localizer.Menu["Details"]</li>
            </ol>
        </nav>
        <div class="container-fluid">
            <div class="top-nav">
                @if ((await AuthorizationService.AuthorizeAsync(User, Catfish.Areas.Manager.Access.GroupSecurity.Add)).Succeeded)
                {

                    @*<a href="@groupEditURL" class="btn btn-labeled btn-primary pull-right">
                            <i class="fas fa-plus"></i>@Localizer.General["Add"]
                        </a>*@
                }
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <h3>Email Templates</h3>
    <div id="email-templates" class="">
        @for (int i = 0; i < template.MetadataSets.Count; ++i)
        {
            var child = template.MetadataSets[i];
            var headingId = "et-head-" + child.Id;
            var dataTargetId = "et-target-" + child.Id;

            var expanded = i == 0 ? "true" : "false";
            var show = ""; // i == 0 ? "show" : "";
            <div class="card">
                <div class="card-header" id="@headingId">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#@dataTargetId" aria-expanded="@expanded" aria-controls="@child.Id">
                            @Html.Raw(child.Name.ConcatenatedContent)
                        </button>
                    </h5>
                </div>
                <div id="@dataTargetId" class="collapse @show" aria-labelledby="@headingId" data-parent="#email-templates">
                    <div class="card-body">
                        <partial name="Partial/_EmailTemplate" model="child" view-data="ViewData"  />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<hr />

<div class="container-fluid">
    <h3>Form Templates</h3>
    <div id="form-templates" class="">
        @for (int i = 0; i < template.DataContainer.Count; ++i)
        {
            var child = template.DataContainer[i];
            var headingId = "ft-head-" + child.Id;
            var dataTargetId = "ft-target-" + child.Id;

            var expanded = i == 0 ? "true" : "false";
            var show = i == 0 ? "show" : "";


            ViewData["data-dataItem-id"] = child.Id;
            //  ViewData["viewdata"] = viewData;
            <div class="card">
                <div class="card-header" id="@headingId">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#@dataTargetId" aria-expanded="@expanded" aria-controls="@child.Id">
                            @Html.Raw(child.Name.ConcatenatedContent)
                        </button>
                    </h5>
                </div>
                <div id="@dataTargetId" class="collapse @show" aria-labelledby="@headingId" data-parent="#form-templates">
                    <div class="card-body">
                        <partial name="Partial/_DataItemTemplate" model="child" view-data="ViewData" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<hr />