@Html.Partial("Partial/Tabs")

@{
    int? typeId = ViewData["entityTypeId"] as int?;
    int? isItem = ViewData["isItem"] as int?;
    string url = "";
 }

<div class="toolbar">
    <div class="inner">
        <ul>
            <li id="save-btn">
                <a id="toolbar_save_button" class="save submit">
                    @Piranha.Resources.Global.ToolbarSave
                </a>
            </li>
            <li>
                @{
                   url = typeId.HasValue && Model.Id == 0 ? Url.Action("edit") : Url.Action("index");
                }
                <a id="toolbar_back_button" href="@url" class="back">
                    @Piranha.Resources.Global.ToolbarBack
                </a>
            </li>
            <li>
               @{
                   url = typeId.HasValue ? Url.Action("edit", new { id = Model.Id, entityTypeId = typeId.Value }) : Url.Action("edit", new { id = Model.Id });
               }
                <a id="toolbar_refresh_button" href="@url" class="refresh">
                    @Piranha.Resources.Global.ToolbarReload
                </a>
            </li>
            @{
                if (isItem.HasValue)
                {
                    url = typeId.HasValue ? Url.Action("edit", new { id = Model.Id, entityTypeId = typeId.Value }) : Url.Action("edit", new { id = Model.Id });
                    <li>     
                        <a id="toolbar_moveItem_button" class="sync" data-toggle="modal" data-target="#modalMoveItem">            
                           
                            Move  
                        </a>
                       
                    </li>
                  
                }
            }
        </ul>
        <div class="clear"></div>
    </div>
</div>
