@model Catfish.Core.Models.CFEntity

@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.EntityTypeId)
@Html.ValidationSummary(true)
@Html.HiddenFor(m => m.Id)


<div class="bs">
    <ul class="nav nav-tabs" role="tablist">
        @for (int idx = 0; idx < Model.MetadataSets.Count; ++idx)
        {
            string name = Model.MetadataSets[idx].GetName();
            <li class="nav-item @(idx == 0 ? "active" : "")">
                <a class="nav-link" data-toggle="tab" href="#tab_@idx" role="tab">@name</a>
            </li>
        }
    </ul>


    <div class="tab-content">
        @for (int idx = 0; idx < Model.MetadataSets.Count; ++idx)
        {
            <div class="tab-pane @(idx == 0 ? "active" : "")" id="tab_@idx" role="tabpanel">
                <div class="box no-margin">
                    <div class="inner">
                        @Html.EditorFor(m => Model.MetadataSets[idx], "MetadataInput")
                    </div>
                </div>
            </div>
        }
    </div>
</div>
