@model Catfish.Areas.Manager.Models.ViewModels.EntityContentViewModel
@using PerpetuumSoft.Knockout
@using Catfish.Areas.Manager.Models.ViewModels

@{ 
    string title = string.IsNullOrEmpty(ViewData["title"] as string) ? "Children" : ViewData["title"] as string;
    string saveAction = ViewData["saveAction"] as string;

    var contextName = ViewBag.contanierId as string;
    if (string.IsNullOrEmpty(contextName))
    {
        contextName = ViewData["contextName"] as string;

        if(string.IsNullOrEmpty(contextName)){
            contextName = "ctx_" + Guid.NewGuid().ToString("N");
        }
    }

    var ko = Html.CreateKnockoutContext(contextName);
}

<div id="@contextName">
    @using (ko.Html.Form("Save", "EntityAssociation", null, new { id = contextName + "Form" }))
    {
        <div class="bs entity-content">
            <div class="box">
                <div class="title">
                    @title
                    <div class="bs right">
                        <span @ko.Bind.Visible(m => m.Status == KoBaseViewModel.eStatus.Success) style="display: none;" class="alert alert-success">Success!</span>
                        <span @ko.Bind.Visible(m => m.Status == KoBaseViewModel.eStatus.Error) style="display: none;" class="alert alert-danger">Error!</span>
                        @*@ko.Html.Button("Save", saveAction, "EntityAssociation",null, new {@class="save" })*@
                    </div>
                </div>

                <div class="col-sm-5">
                    <h4>Children</h4>
                    <div>@ko.Html.ListBox(m => m.ChildEntityList, new {@name="childrenList" }, e => e.Label).SelectedOptions(m => m.SelectedChildEntities)</div>
                </div>
                <div class="col-sm-2 hidden-xs transfer-btn-panel">
                    <div>@ko.Html.Button("", "AddChildren", "EntityAssociation", new { }, new { @class = "glyphicon glyphicon-arrow-left" }).Enable(m => m.SelectedMasterEntities.Count > 0)</div>
                    <div>@ko.Html.Button("", "RemoveChildren", "EntityAssociation", new { }, new { @class = "glyphicon glyphicon-arrow-right" }).Enable(m => m.SelectedChildEntities.Count > 0)</div>
                </div>
                <div class="col-sm-2 visible-xs transfer-btn-panel-vertical">
                    <span>@ko.Html.Button("", "AddChildren", "EntityAssociation", new { }, new { @class = "glyphicon glyphicon-arrow-up" }).Enable(m => m.SelectedMasterEntities.Count > 0)</span>
                    <span>@ko.Html.Button("", "RemoveChildren", "EntityAssociation", new { }, new { @class = "glyphicon glyphicon-arrow-down" }).Enable(m => m.SelectedChildEntities.Count > 0)</span>
                </div>
                <div class="col-sm-5">
                    <h4>Master List</h4>
                    <div>@ko.Html.ListBox(m => m.MasterEntityList, new {@name="masterList" }, e => e.Label).SelectedOptions(m => m.SelectedMasterEntities)</div>
                </div>
            </div>
        </div>
    }
</div>
@ko.Apply(Model, contextName)
