@model Catfish.Areas.Manager.Models.ViewModels.EntityContentViewModel
@using PerpetuumSoft.Knockout

@{ 
    string title = string.IsNullOrEmpty(ViewData["title"] as string) ? "Children" : ViewData["title"] as string;

    var contextName = ViewBag.contanierId as string;
    if (string.IsNullOrEmpty(contextName))
    {
        contextName = "ctx_" + Guid.NewGuid().ToString("N");
    }

    var ko = Html.CreateKnockoutContext(contextName);
}




<div class="bs entity-content">
    <h3 class="">@title</h3>
    <div class="col-md-5">
        <h4>Current Children</h4>
        <div>@ko.Html.ListBox(m => m.ChildEntityList, new { }, e => e.Label).SelectedOptions(m => m.SelectedEntities)</div>
       @*<table class="list">
            <tbody>
                @foreach (var m in Model.ChildEntityList)
                {
                    <tr>
                        <td>@m.Label</td>
                        <td>
                            @if (typeof(Catfish.Core.Models.Collection).IsAssignableFrom(m.GetType()))
                            {
                                <form action="@Url.Action("children", new { @id = m.Id })" method="get" class="inline">
                                    <button type="submit" value="Submit" class="glyphicon glyphicon-folder-open"></button>
                                </form>
                            }
                            <form action="@Url.Action("edit", new { @id = m.Id })" method="get" class="inline">
                                <button type="submit" value="Submit" class="glyphicon glyphicon-edit"></button>
                            </form>
                            <form action="@Url.Action("delete", new { @id = m.Id })" method="post" class="inline">
                                <button type="submit" value="Submit" class="glyphicon glyphicon-remove" onclick="return confirm('Confirm deletion');"></button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>*@
    </div>
    <div class="col-md-2 transfer-btn-panel">

        <div>@ko.Html.Button("", "AddChildren", "EntityAssociation", new { }, new { @class = "glyphicon glyphicon-arrow-left" }).Enable(m => m.SelectedEntities.Count > 0)</div>
        <div>@ko.Html.Button("", "RemoveChildren", "EntityAssociation", new { }, new { @class = "glyphicon glyphicon-arrow-right" }).Enable(m => m.SelectedEntities.Count > 0)</div>
        @*glyphicon glyphicon-arrow-left*@

    </div>
    <div class="col-md-5">
        <h4>Master List</h4>
        <div>@ko.Html.ListBox(m => m.MasterEntityList, new { }, e => e.Label).SelectedOptions(m => m.SelectedEntities)</div>
    </div>
</div>

@ko.Apply(Model, contextName)
