
@using Catfish.Areas.Manager.Models.ViewModels
@using PerpetuumSoft.Knockout
@using Catfish.Core.Models.Data
@model KnockoutContext<FormFieldViewModel>


@{
    string containerId = Guid.NewGuid().ToString("N");
    string uploadApiUrl = ViewBag.UploadApiUrl as string;
    string deleteApiUrl = ViewBag.DeleteApiUrl as string;
    List<string> crossLinkedFileGuids = ViewBag.CrossLinkedFileGuids != null ?
        ViewBag.CrossLinkedFileGuids as List<string>
        : new List<string>();
}

xxx
<div id="@containerId" class="inner file-upload" style="clear:both">
    <div class="thumbnailPanel">
        @*@{ string fileGuidListFieldId = Html.IdFor(m => m.Model.FieldFileGuids).ToString(); }*@
        @*@Html.HiddenFor(m => m.Model.FieldFileGuids)*@
        @*@Model.Html.Hidden(Model.Model.FieldFileGuids)*@
        @*@Model.Html.Hidden*@
        @*@Html.HiddenFor(m => m.Model.FieldFileGuids)*@
        @*<input type="hidden" id="Model_FieldFileGuids" @Model.Bind.Value(m => m.FieldFileGuids) />*@
        @Model.Html.TextBox( m=> m.FieldFileGuids, new { id = "Model_FieldFileGuids" })
        @*@Model.Model.FieldFileGuids*@
        @using (KnockoutForeachContext<FileViewModel> fileViewModel = Model.Foreach(f => f.Files))
    {
        <div class="fileThumbnail" @fileViewModel.Bind.Attr("id", m => m.Guid)>
            <div class="img" @fileViewModel.Bind.Style("\"background-image\"", m => "url(" + m.Thumbnail + ")")></div>
            <div class="label"><a @fileViewModel.Bind.Attr("href", f => f.Url)>@fileViewModel.Html.Span(s => s.FileName)</a></div>
        </div>
}
    </div>
    <div class="inner" style="clear:both">
        <div class="alert alert-danger messageBox"></div>

        <input type='file' class="uploadField" name="files" multiple="multiple" />
        <input type="button" value="Upload" class="uploadButton"
               onclick="uploadFile('@containerId', '@uploadApiUrl', '@deleteApiUrl', 'Model_FieldFileGuids'); return false;" />
        @*<div class="progressBar"><progress></progress></div>*@
    </div>
</div>
    xxx
    

<script>
    $(function () {
        $("#@containerId .progressBar").hide();
        $("#@containerId .messageBox").hide();
    });
</script>
