@model KnockoutForeachContext<FormFieldViewModel>
@using Catfish.Areas.Manager.Models.ViewModels
@using PerpetuumSoft.Knockout
@using Catfish.Core.Models.Data



@{
    string containerId = Guid.NewGuid().ToString("N");
    string uploadApiUrl = ViewBag.UploadApiUrl as string;
    string deleteApiUrl = ViewBag.DeleteApiUrl as string;
    List<string> crossLinkedFileGuids = ViewBag.CrossLinkedFileGuids != null ?
        ViewBag.CrossLinkedFileGuids as List<string>
        : new List<string>();
}

xxx
<div id="@containerId" class="inner file-upload" style="clear:both">
    <div class="thumbnailPanel">
        <input type="hidden" id="Model_FieldFileGuids" @Model.Bind.Value(m => m.FieldFileGuids) />
        @*@Model.Model.FieldFileGuids*@
        @*<div>@Model.Html.Span(m => m.Files[0].FileName)</div>
            <div>@Model.Html.Span(m => m.Files[1].FileName)</div>*@


        @*@using (KnockoutForeachContext<DataFile> fileViewModel = Model.Foreach(m => m.Files))*@
        @using (var thing = Model.Foreach(mark => mark.FileThings))
        {
            <div>xx</div>
        }
        @using (KnockoutForeachContext<DataFile> fileViewModel = Model.Foreach(mark => mark.Files))
        {
            <text>
            vvv
            @fileViewModel.Html.Span(omar => omar.Guid);
            @*@fileViewModel.Html.Span(f => f.FileName)
                <div class="fileThumbnail" @fileViewModel.Bind.Attr("id", m => m.Guid)>
                    <div class="img" @fileViewModel.Bind.Style("\"background-image\"", m => "url(" + m.Thumbnail + ")")></div>
                    <div class="label"><a @fileViewModel.Bind.Attr("href", f => f.Path)>@fileViewModel.Html.Span(s => s.FileName)</a></div>
                </div>*@
            <div>^^^</div>
        </text>
        }
    </div>
    <div class="inner" style="clear:both">
        <div class="alert alert-danger messageBox"></div>

        <input type='file' class="uploadField" name="files" multiple="multiple" />
        <input data-bind="click: function(data){$root.uploadFileKoWrapper(data, '@containerId', '@uploadApiUrl', '@deleteApiUrl', 'Model_FieldFileGuids')}" type="button" value="Upload" class="uploadButton" />
        <div class="progressBar" hidden><progress></progress></div>
    </div>
</div>
    xxx


<script>
    $(function () {
        $("#@containerId .progressBar").hide();
        $("#@containerId .messageBox").hide();
    });
</script>
