
@{
    bool showType = ViewData["showType"] != null ? (bool)ViewData["showType"] : false;
    bool showDeleteButton = ViewData["showDeleteButton"] != null ? (bool)ViewData["showDeleteButton"] : false;
    string controller = ViewData["controller"] as string;
    string downloadAction = ViewData["downloadAction"] as string;
}
@{ var nameclass = showType ? "col-md-7" : "col-md-8"; }
<div class=" bs">
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-md-1">Id</th>
                    <th class="@nameclass">Name</th>
                    @if (showType)
                    {
                        <th class="col-md-1">Type</th>
                    }
                    <th class="col-md-3">Actions</th>
                </tr>
            </thead>
            <tbody class="object-list">
                @foreach (var m in Model)
                {
                    <tr id="object-row-@m.Id">
                        <td>@m.Id</td>
                        <td>@m.Name</td>
                        @if (showType)
                        {
                            string type = (m as Catfish.Core.Models.CFEntity).EntityType.Name;
                            <td class="">@type</td>
                        }
                        <td class="action-panel action-panel-@m.Id">
                                @if (!string.IsNullOrEmpty(downloadAction))
                                {
                                    <form action="@Url.Action(downloadAction, controller, new { @id = m.Id })" method="post" class="inline">
                                        <button type="submit" value="Submit" class="glyphicon glyphicon-download-alt"></button>
                                    </form>
                                }
                            <form action="@Url.Action("edit", controller, new { @id = m.Id })" method="get" class="inline">
                                <button type="submit" value="Submit" class="glyphicon glyphicon-edit object-edit"></button>
                            </form>
                            @if (typeof(Catfish.Core.Models.CFCollection).IsAssignableFrom(m.GetType()) ||
                                 typeof(Catfish.Core.Models.CFItem).IsAssignableFrom(m.GetType()))
                            {
                                <form action="@Url.Action("associations", controller, new { @id = m.Id })" method="get" class="inline">
                                    <button type="submit" value="Submit" class="glyphicon glyphicon-link object-associations"></button>
                                </form>
                           }
                            @if (showDeleteButton)
                            {
                                <form action="@Url.Action("delete", controller, new { @id = m.Id })" method="post" class="inline">
                                    @{ var isDisabled = m.HasAssociations ? "disabled='disabled'" : ""; }
                                    <button type="submit" value="Submit" class="glyphicon glyphicon-remove object-delete" onclick="return confirm('Confirm deletion');" @isDisabled></button>
                                </form>
                             }
                           @if (typeof(Catfish.Core.Models.CFCollection).IsAssignableFrom(m.GetType()) || typeof(Catfish.Core.Models.CFItem).IsAssignableFrom(m.GetType()))
                           {
                            <form action="@Url.Action("accessGroup", controller, new { @id = m.Id })" method="get" class="inline">
                                <button type="submit" value="Submit" class="glyphicon glyphicon-eye-close object-accessgroup"></button>
                            </form>
                           }
                        </td>
                    </tr>
                  }
            </tbody>
        </table>
    </div>
</div>
