
@{ 
    bool showType = ViewData["showType"] != null ? (bool)ViewData["showType"] : false;
}
<div class="grid_12 bs">
    <table class="list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                @if (showType)
                {
                    <th>Type</th>
                }
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.Name</td>
                    <td>@m.Description</td>
                    @if (showType)
                    {
                        string type = (m as Catfish.Core.Models.Entity).EntityType.Name;
                        <td>@type</td>
                    }
                    <td>
                        @if (typeof(Catfish.Core.Models.Collection).IsAssignableFrom(m.GetType()))
                        {
                            <form action="@Url.Action("items", new { @id = m.Id })" method="get" class="inline">
                                <button type="submit" value="Submit" class="glyphicon glyphicon-folder-open"></button>
                            </form>
                        }
                        <form action="@Url.Action("edit", new { @id = m.Id })" method="get" class="inline">
                            <button type="submit" value="Submit" class="glyphicon glyphicon-edit"></button>
                        </form>
                        <form action="@Url.Action("delete", new { @id = m.Id })" method="post" class="inline">
                            <button type="submit" value="Submit" class="glyphicon glyphicon-remove" onclick="return confirm('Confirm deletion');"></button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
