<!DOCTYPE html>
<html lang="en">

@using Catfish.Models.Regions;
@using Catfish.Helpers;

@{
    System.Threading.Thread.CurrentThread.CurrentCulture = Catfish.Helpers.ViewHelper.GetActiveLanguage();

    Piranha.Models.PageModel global;

    if (HttpContext.Current.Items["Piranha_CurrentPage"] != null)
    {
        var current = (Piranha.Models.Page)HttpContext.Current.Items["Piranha_CurrentPage"];
        global = Piranha.Models.PageModel.GetBySite(current.SiteTreeId);
    }
    else
    {
        global = Piranha.Models.PageModel.GetBySite(Piranha.Config.SiteTreeId);
    }

    bool isLoggedIn = Session[PiranhaApp.USER] != null;
    bool googleLogin = Convert.ToBoolean(System.Configuration.ConfigurationManager.AppSettings["AllowGoogleLogin"]);
    string googleClientId = System.Configuration.ConfigurationManager.AppSettings["GoogleClientId"];
}


<head>
    @{ string title;}

    @try
    {
        MultilingualText field = global.Regions.SiteTitle;
        var activeLang = ViewHelper.GetActiveLanguage();
        title = field.GetContent(activeLang.TwoLetterISOLanguageName);
        if (string.IsNullOrEmpty(title))
        {
            title = Site.SiteTitle;
        }
    }
    catch (Exception)
    {
        title = Site.SiteTitle;
    }

    <title>@Html.Raw(title)</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link type="text/css" rel="stylesheet" href="~/content/css/style.css" />
    <link type="text/css" rel="stylesheet" href="~/content/css/Site.css" />
    <link href="~/Content/bs-bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="@googleClientId">

    @UI.Head()

    @try
    {
        <text>@Html.Partial("_CustomHead")</text>
    }
    catch (Exception)
    {
        // custom view does not exist.
    }

    @RenderSection("head", required: false)
    @{
        //Render javascript section if any  var link1 = global.Regions.Link1;
        try
        {
            if (global.Regions.Javascript != null)
            {
                var js = global.Regions.Javascript;
                @Html.DisplayFor(j=> js, "Javascript", null)
            }
        }
         catch (Exception) { }
    }
</head>
<body>
    @try
    {
        // Use Custom header.
        <text>@Html.Partial("_CustomHeader")</text>
    }
    catch (Exception)
    {
        <header role="banner">
            <div class="wrapper">
                <a class="site-title" href="~/">
                    @try
                    {
                        var logo = global.Regions.Logo;
                        <img class="site-logo" src="@UI.Content(logo.Id)" />
                    }
                    catch (Exception)
                    {
                        @Html.Raw(title)
                    }
                </a>

                @Html.Partial("_LanguageSwitcher")
                <p class="site-desc">
                    @try
                    {
                        MultilingualText field = global.Regions.SiteDesc;
                        @Html.DisplayFor(m => field, new { raw = true })
                    }
                    catch (Exception)
                    {
                        @Site.SiteDescription
                    }
                </p>
                <navigation role="main-navigation">
                    @UI.Menu(StopLevel: 1)
                </navigation>
            </div>
        </header>
    }
    <div class="wrapper">
        @RenderBody()
    </div>
    @try
    {
        <text>@Html.Partial("_CustomFooter")</text>
    }
    catch (Exception)
    {
        // custom view does not exist.
    }
</body>
@RenderSection("script", required: false)
</html>
@if (isLoggedIn)
{
<script>
      function signOut() {
      var url = "../../CatfishAccount/Logout";
         $.ajax({
               type: 'GET',
               url: url,
               success: function(data){
                 document.location.href = "https://www.google.com/accounts/Logout";
               window.location.href = window.location.origin;
               },
               error: function(){ alert("Encounter problems while logout")}
        });
   
  }
</script>
}