<!DOCTYPE html>
<html lang="en">

@using Catfish.Models.Regions;

@{
    Piranha.Models.PageModel global;

    if (HttpContext.Current.Items["Piranha_CurrentPage"] != null)
    {
        var current = (Piranha.Models.Page)HttpContext.Current.Items["Piranha_CurrentPage"];
        global = Piranha.Models.PageModel.GetBySite(current.SiteTreeId);
    }
    else
    {
        global = Piranha.Models.PageModel.GetBySite(Piranha.Config.SiteTreeId);
    }
}


<head>
    @try
    {
        MultilingualText field = global.Regions.SiteTitle;
        <title>@Html.DisplayFor(m => field, new { unformatted = true })</title>
    }
    catch (Exception)
    {
        <title>@ViewBag.Title</title>
    }

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    @UI.Head()

    <link type="text/css" rel="stylesheet" href="~/content/css/style.css" />
    <link type="text/css" rel="stylesheet" href="~/content/css/Site.css" />
    <link href="~/Content/bs-bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />


    @RenderSection("head", required: false)

</head>
<body>
    <script>
                    //require(["./Built/app"]);
    </script>
    <header role="banner">
        <div class="wrapper">
            <a class="site-title" href="~/">
                @try
                {
                    MultilingualText field = global.Regions.SiteTitle;
                    @Html.DisplayFor(m => field, new { unformatted = true })
                }
                catch (Exception)
                {
                    @Site.SiteTitle
                }
            </a>
            @Html.Partial("_LanguageSwitcher")
            <p class="site-desc">
                @try
                {
                    MultilingualText field = global.Regions.SiteDesc;
                    @Html.DisplayFor(m => field, new { unformatted = true })
                }
                catch (Exception)
                {
                    @Site.SiteDescription
                }
            </p>
            <navigation role="main-navigation bs">
                @UI.Menu(StopLevel: 1)
                @*@{ 
                    //Delegating menu rendering to multilingual menu renderer
                    Hooks.Menu.RenderItemLink += (ui, str, page) {
                        // Check if this is the startpage of the site.
                        if (page.ParentId == Guid.Empty && page.Seqno == 1)
                        {
                            // Render the page title without the link
                        }
                        else
                        {
                            // Render the page title and a link
                        }
                    };
                }*@


            </navigation>
        </div>
    </header>
    <div class="wrapper">
        @RenderBody()
    </div>
</body>
@RenderSection("script", required: false)
</html>