<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@ViewBag.Title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        @RenderSection("head", required: false)

        @UI.Head()

        <link type="text/css" rel="stylesheet" href="~/content/css/style.css" />

        @{
            Piranha.Models.PageModel global;

            if (HttpContext.Current.Items["Piranha_CurrentPage"] != null)
            {
                var current =
                  (Piranha.Models.Page)HttpContext.Current.Items["Piranha_CurrentPage"];

                global = Piranha.Models.PageModel.GetBySite(current.SiteTreeId);
            }
            else
            {
                global = Piranha.Models.PageModel.GetBySite(Piranha.Config.SiteTreeId);
            }


            try
            {
               @Html.Raw(global.Regions.Head.Body)
            }
            catch (Exception) { }
        }

    </head>


    <body>
        <header role="banner">
            <div class="wrapper">
                @{
                    try
                    {
                        var logoUrl = "/media/" + global.Regions.Logo.Id;
                        <div id="logo"><img src="@logoUrl" /></div>
                    }
                    catch (Exception) { }
                }
                <a class="site-title" href="~/">@Site.SiteTitle</a>
                <p class="site-desc">@Site.SiteDescription</p>
                <navigation role="main-navigation">
                    @UI.Menu(StopLevel: 1)
                </navigation>
            </div>
        </header>
        @RenderBody()
        @{var year = DateTime.Now.Year;}
        <div class="footer">@year @Site.SiteTitle - All rights reserved.</div>
    </body>
    @RenderSection("script", required: false)
</html>