<!DOCTYPE html>
<html lang="en">

@using Catfish.Models.Regions;
@using Catfish.Helpers;

@{
    System.Threading.Thread.CurrentThread.CurrentCulture = Catfish.Helpers.ViewHelper.GetActiveLanguage();

    Piranha.Models.PageModel global;

    if (HttpContext.Current.Items["Piranha_CurrentPage"] != null)
    {
        var current = (Piranha.Models.Page)HttpContext.Current.Items["Piranha_CurrentPage"];
        global = Piranha.Models.PageModel.GetBySite(current.SiteTreeId);
    }
    else
    {
        global = Piranha.Models.PageModel.GetBySite(Piranha.Config.SiteTreeId);
    }
}


<head>
    @{ string title;}

    @try
    {
        MultilingualText field = global.Regions.SiteTitle;
        var activeLang = ViewHelper.GetActiveLanguage();
        title = field.GetContent(activeLang.TwoLetterISOLanguageName);
        if (string.IsNullOrEmpty(title))
        {
            title = Site.SiteTitle;
        }
    }
    catch (Exception)
    {
        title = Site.SiteTitle;
    }

    <title>@Html.Raw(title)</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    @UI.Head()

    <link type="text/css" rel="stylesheet" href="~/content/css/style.css" />
    <link type="text/css" rel="stylesheet" href="~/content/css/Site.css" />
    <link href="~/Content/bs-bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />


    @RenderSection("head", required: false)

</head>
<body>
    <header role="banner">
        <div class="wrapper">
            <a class="site-title" href="~/">@Html.Raw(title)</a>
            @Html.Partial("_LanguageSwitcher")
            <p class="site-desc">
                @try
                {
                    MultilingualText field = global.Regions.SiteDesc;
                    @Html.DisplayFor(m => field, new { raw = true })
                }
                catch (Exception)
                {
                    @Site.SiteDescription
                }
            </p>
            <navigation role="main-navigation">
                @UI.Menu(StopLevel: 1)
            </navigation>
        </div>
    </header>
    <div class="wrapper">
        @RenderBody()
    </div>
</body>
@RenderSection("script", required: false)
</html>